@font-face {
  font-family: 'DIN-Bold';
  src: url('../webfonts/DIN-Bold.svg#DIN-Bold') format('svg'),
       url('../webfonts/DIN-Bold.ttf') format('truetype'),
       url('../webfonts/DIN-Bold.woff') format('woff'),
       url('../webfonts/DINBold.eot'),
       url('../webfonts/DINBold.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/DINBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Light';
  src: url('../webfonts/DIN-Light.svg#DIN-Light') format('svg'),
       url('../webfonts/DIN-Light.ttf') format('truetype'),
       url('../webfonts/DIN-Light.woff') format('woff'),
       url('../webfonts/DINLight.eot'),
       url('../webfonts/DINLight.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/DINLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('../webfonts/DIN-Regular.svg#DIN-Regular') format('svg'),
       url('../webfonts/DIN-Regular.ttf') format('truetype'),
       url('../webfonts/DIN-Regular.woff') format('woff'), 
       url('../webfonts/DINRegular.eot'),
       url('../webfonts/DINRegular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/DINRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Medium';
  src: url('../webfonts/DIN-Medium.svg#DIN-Medium') format('svg'),
       url('../webfonts/DIN-Medium.ttf') format('truetype'),
       url('../webfonts/DIN-Medium.woff') format('woff'), 
       url('../webfonts/DINMedium.eot'),
       url('../webfonts/DINMedium.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/DINMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* 
  *** Global 
*/

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  font-family: 'DIN-Light', sans-serif;
  background-color: #fff;
  color: #58585A;
  font-size: 16px;
  line-height: normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'DIN-Light', sans-serif;
  color: #58585A;
  margin-bottom: 2.125rem;
}

h1,
.h1 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 117%;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 50px;
}

h4,
.h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'DIN-Bold', sans-serif;
  line-height: 35px;
}

h5,
.h5 {
  font-family: 'DIN-Light', sans-serif;
  font-size: 1.6667rem;
  /* 20px */
}

h6,
.h6 {
  font-size: 16px;
  font-weight: normal;
  font-family: 'DIN-Regular', sans-serif;
}

p {
  font-weight: normal;
  font-family: 'DIN-Regular', sans-serif;
  line-height: 25px;
}

button:focus {
  outline: 0 none;
}

a {
  color: inherit;
  transition: 0.2s all;
}

a:hover,
a:focus {
  color: #BE955A;
  text-decoration: none;
  outline: 0 none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
}

blockquote {
  font-family: "DIN-RegularAlternate", serif;
  font-style: italic;
  font-size: 2.1667rem;
  letter-spacing: -0.005em;
  line-height: 146%;
}

.text-sm {
  font-size: 1.1667rem;
}

.text-lg {
  font-size: 1.9167rem;
}

.text-highlighted {
  color: #003671;
  font-weight: normal;
  font-family: 'DIN-Bold', sans-serif;
}

.soc-link ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.soc-link ul li {
  display: inline-block;
}

.soc-link ul li+li {
  margin-left: 15px;
}

.soc-link ul li a {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
  font-size: 16px;
  color: #fff !important;
  opacity: 1;
  font-weight: 300;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.navbar-dark .nav-item>.nav-link::after {
  content: "";
  width: 0%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #BE955A;
  height: 4px;
  position: absolute;
  bottom: -13px;
  transition: all 0.3s ease;
  border: 0 !important;
  visibility: hidden;
  opacity: 0;
}

.navbar-dark .nav-item:hover>.nav-link::after,
.navbar-dark .nav-item.active>.nav-link::after,
.navbar-dark .nav-item.show>.nav-link::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 40px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 13px;
}

.sec-home-banner {
  background-color: #000;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-position: center, top;
  background-size: cover, 0;
}

.nav-link.btn {
  background-color: #003671;
  border-radius: 50px;
  width: 138px;
  display: inline-block;
  padding: 0.1rem 1rem;
}

.sec-home-banner .col.col-12,
.sec-home-banner .video-content {
  height: 1025px;
  max-height: 100vh;
}

.sec-home-banner .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.sec-home-banner .banner-content {
  max-width: 55vh;
}

.navbar.fixed-top {
  position: absolute !important;
}

.scroll-next {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  left: 0;
  bottom: 44px;
}

.video-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.video-content video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container.position-relative {
  z-index: 1;
}

.dropdown-menu {
  background-color: #003671;
  color: #fff;
  padding: 55px 40px 55px 25px;
  margin-top: 12px;
  transform-origin: top;
  display: block;
  /* transform: scale3d(1, 0, 1); */
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  left: -40px
}

.dropdown-item {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.dropdown-item+.dropdown-item {
  margin-top: 20px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: transparent;
}

.dropdown-menu.left-menu {
  left: auto;
  right: -262%;
}


/* .nav-link:hover + .dropdown-menu,
.nav-link.active + .dropdown-menu,
.nav-link:hover + .dropdown-menu:hover,
.nav-link + .dropdown-menu:hover  */

.dropdown-menu.show {
  /* transform: scale3d(1, 1, 1); */
  visibility: visible;
  opacity: 1;
}

.after-none a::after {
  display: none !important;
}

#video-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

#video-btn:hover {
  cursor: pointer;
}

.play,
.pause {
  position: absolute;
  bottom: 0px;
  width: 50px;
  height: 50px;
  left: 0px;
  background-color: #003671;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.text-left-title {
  max-width: 940px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #003671;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.section {
  padding: 95px 0;
}

.section.sec-opportunity {
  padding-bottom: 50px;
}

.section.sec-ourprograms {
  padding-top: 16px;
}

.sub-section-title {
  color: #fff;
  padding: 49px 33px;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.readmore-link a {
  display: inline-block;
  width: 100%;
  max-width: 171px;
  position: relative;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'DIN-Regular', sans-serif;
  color: #BE955A;
}
.read-more-link-p
{
  font-weight: normal;
  font-family: 'DIN-Regular', sans-serif;
  color: #BE955A;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  position: relative;
  padding-right: 30px;
}
.readmore-link a svg,
.read-more-link-p svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
}
.read-more-link-p svg
{
  top: 43%;
}
.readmore-link a::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  background-color: #BE955A;
  left: 0;
  transition: 0.2s all;
}
.read-more-link-p:hover {
  padding-right: 50px;
  color: #BE955A;
}
.readmore-link a:hover{
  color: #BE955A;
  max-width: 190px;
}

.readmore-link a:hover::after {
  background-color: #BE955A;
}

.sub-section-title h3 {
  color: #fff;
  font-weight: normal;
  font-family: 'DIN-Bold', sans-serif;
  margin-bottom: 2px;
}

.sec-ourprograms .row>.col-12:nth-child(even) .sub-section-title::after {
  content: "";
  background-color: #003671;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.sec-ourprograms .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sec-ourprograms .section-title .h1 {
  font-weight: normal;
  font-family: 'DIN-Bold', sans-serif;
  position: relative;
  padding-right: 33px;
  color: #003671;
}

.sec-ourprograms .section-title .h1::after {
  content: "";
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: -45px;
  background-color: #BE955A;
  left: 0;
  transition: 0.2s all;
}

.abouthec-video iframe {
  width: 100%;
  min-height: 454px;
}

.abouthec-text .w-100 {
  max-width: 518px;
  margin: 0 auto;
}

.abouthec-text h2 {
  margin-bottom: 12px;
}

.section.sec-abouthec {
  padding-top: 5px;
}

.event-date {
  font-weight: normal;
  font-family: 'DIN-Regular', sans-serif;
  color: #003671;
  letter-spacing: 1px;
}

.add-to-calendar {
  color: #BE955A;
  font-weight: normal;
  font-family: 'DIN-Regular', sans-serif;
  padding-bottom: 3px;
  position: relative;
}

.add-to-calendar svg {
  margin-right: 5px;
}

html[dir="rtl"] .add-to-calendar svg {
  margin-right: 0px;
  margin-left: 5px;
}

.line-bottom::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #BE955A;
  left: 0;
  transition: 0.2s all;
}

.events-text .events-name {
  margin-top: 7px;
}

.events-text h4 {
  margin-bottom: 6px;
}

.events-text .event-content {
  margin-top: 30px;
}

.events-text .event-content+.event-content {
  margin-top: 0;
}

.events-text {
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  padding-bottom: 10px;
  margin-bottom: 52px;
}

.events-time>span {
  display: block;
  padding-left: 25px;
  position: relative;
  color: rgba(88,88,90,0.5);
}

.events-time>span+span {
  margin-top: 5px;
}

.events-time>span svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 14px;
}

.events-time>span.e-loc svg {
  left: 2px;
}

.icon-right,
.icon-left {
  position: relative;
  padding-right: 25px;
}

.icon-left {
  padding-left: 25px;
}

.icon-left svg,
.icon-right svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  right: 0;
  font-size: 14px;
}

.icon-left svg {
  left: 0;
  right: auto;
}

.interested-more a {
  font-weight: 300;
  font-size: 26px;
  line-height: 50px;
}

.sec-upevents {
  padding-bottom: 48px;
}

.sec-upevents .row .col-12:nth-last-of-type(2) .events-text {
  margin-bottom: 25px;
}

.show-all-events svg {
  font-size: 20px;
}

.show-all-events a {
  padding-right: 30px;
  color: #BE955A;
}

.show-all-events a:hover,
a:hover {
  color: #003671;
}

a.line-bottom:hover:after {
  transition: all 0.2;
  background-color: #003671;
}

.whh-text {
  padding: 56px 47px;
  background-color: #fff;
}

.whh-img {
  min-height: 275px;
  max-height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  width: 100%;
}

.sec-happening {
  background-color: #F2F4F8;
  padding-top: 58px;
  padding-bottom: 80px;
}

.sec-happening h2 {
  margin-bottom: 42px;
}

.sec-happening .col-12.d-flex {
  flex-wrap: wrap;
}

.sec-happening .col-12.d-flex .whh-text {
  height: calc(100% - 275px);
  position: relative;
}

.sec-happening .event-date {
  margin-bottom: 11px;
  display: block;
}

.sec-happening h4 {
  margin-bottom: 21px;
  max-height: 70px;
  min-height: 70px;
  overflow: hidden;
}

.sec-happening p {
  margin-bottom: 64px;
  max-height: 75px;
  min-height: 75px;
  overflow: hidden;
}


/* .sec-happening a:hover{
  color: #003671;
} */


/* .sec-happening a:hover:after{
  background-color: #003671;
} */

.sec-happening .whh-text:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  position: absolute;
  left: 80px;
  bottom: -29px;
}

.interested-wb {
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  margin-top: 25px;
  padding-top: 23px;
}

footer {
  background-color: #58585A;
  color: #fff;
  padding-top: 42px;
  padding-bottom: 32px;
}

footer h6 {
  color: rgba(255, 255, 255, 0.5)
}

.quick-links .links>a {
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
}

.quick-links .links>a:hover,
.quick-links .links>a.active {
  color: #BE955A;
  text-decoration: underline;
}

.quick-links .links br+a {
  margin-top: 15px;
}

.quick-links .links {
  display: inline-block;
}

.quick-links .links+.links {
  margin-left: 76px;
}

footer h6 {
  margin-bottom: 20px;
}

footer .soc-link ul li+li {
  margin-left: 25px;
}

footer .soc-link ul li a:hover {
  color: #BE955A;
}

.footer-bottom {
  border-top: 1px solid #707070;
  margin-top: 12px;
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.backtotop {
  color: #fff;
  margin-left: 20px;
}

html[dir="rtl"] .backtotop {
  margin-left: 0;
  margin-right: 20px;
}

.backtotop a:hover {
  color: #BE955A;
}

.copyright-text {
  font-weight: 300;
}


/*RTL*/

html[dir="rtl"] {
  direction: rtl;
}

html[dir="rtl"] .ml-auto {
  margin-left: 0 !important;
  margin-right: auto !important;
}

html[dir="rtl"] .mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

html[dir="rtl"] .navbar-nav .nav-item+.nav-item {
  margin-right: 40px;
  margin-left: 0px !important;
}

html[dir="rtl"] .soc-link ul li+li {
  margin-right: 15px;
  margin-left: 0px !important;
}

html[dir="rtl"] .dropdown-item {
  text-align: right;
}

html[dir="rtl"] .dropdown-menu {
  left: auto !important;
  right: -40px;
  padding-left: 40px;
  padding-right: 25px;
}

html[dir="rtl"] .dropdown-menu.left-menu {
  left: -271% !important;
  right: auto !important;
}

html[dir="rtl"] .navbar-nav,
html[dir="rtl"] .soc-link ul {
  padding-right: 0;
}

html[dir="rtl"] .text-left-title,
html[dir="rtl"] .sub-section-title,
html[dir="rtl"] .abouthec-text,
html[dir="rtl"] .events-name,
html[dir="rtl"] .events-time,
html[dir="rtl"] .event-content,
html[dir="rtl"] .whh-text,
html[dir="rtl"] footer h6,
html[dir="rtl"] h2,
html[dir="rtl"] .quick-links .links,
html[dir="rtl"] .quick-links {
  text-align: right;
}

html[dir="rtl"] .readmore-link a {
  padding-right: 0px;
  padding-left: 15px;
}

html[dir="rtl"] .readmore-link a svg {
  right: auto;
  left: 0;
  transform: rotate(180deg) translateY(50%);
}

html[dir="rtl"] .sec-ourprograms .section-title .h1 {
  padding-left: 33px;
  padding-right: 0px;
}

html[dir="rtl"] .events-time>span {
  padding-right: 25px;
  padding-left: 0px;
}

html[dir="rtl"] .events-time>span svg {
  right: 0;
  left: auto;
}

html[dir="rtl"] .events-time>span.e-loc svg {
  right: 2px;
}

html[dir="rtl"] .icon-right {
  padding-left: 25px;
  padding-right: 0;
}

html[dir="rtl"] .icon-right svg {
  right: auto;
  left: 0;
}

html[dir="rtl"] .icon-left {
  padding-right: 25px;
  padding-left: 0;
}

html[dir="rtl"] .icon-left svg {
  right: 0;
  left: auto;
}

html[dir="rtl"] .quick-links .links+.links {
  margin-left: 0;
  margin-right: 76px;
}

html[dir="rtl"] .sec-happening .whh-text:after {
  left: auto;
  right: 80px;
}

.professor-img {
  max-width: 268px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.professor-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.professor-info {
  margin-top: 22px;
}

.professor-info h6 {
  font-weight: normal;
  font-family: 'DIN-Bold', sans-serif;
  margin-bottom: 0;
}

.professor-info h6 span {
  font-weight: 300;
  margin-top: 5px;
  font-family: 'DIN-Regular', sans-serif;
}

.professor-img:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.0);
  border: 2px solid #BE955A;
  border-radius: 50%;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}

.professor-img:hover:after {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  visibility: visible;
}

.sec-professors .row>.col-12.col-md-6 {
  margin-top: 70px;
}

.sec-professors .interested-more {
  margin-top: 85px;
}

.sec-professors {
  padding-top: 60px;
  padding-bottom: 125px;
}

.site-sub-header .soc-link {
  opacity: 0 !important;
  visibility: hidden !important;
}

.sec-sub-home-banner .banner-content {
  max-width: 216px !important;
  top: 113px !important;
  left: 0 !important;
  right: auto;
}

html[dir="rtl"] .sec-sub-home-banner .banner-content {
  left: auto !important;
  right: 0 !important;
}

.sec-sub-home-banner .col.col-12 {
  height: 750px;
}

.sec-degree-banner .col.col-12 {
  height: 975px;
}


/* .hec-page-title 
{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,54,113,0.7);
    width: 37.25vw;
    height: 300px;
} */

.title-text h1 {
  max-width: 261px;
  margin: 0;
  color: #fff;
  padding-bottom: 45px;
}

.title-text {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

html[dir="rtl"] .title-text {
  left: auto;
  right: 0;
  text-align: right;
}

.sec-sub-home-banner .row.no-gutters {
  position: absolute;
  padding: 0 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 300px;
}

.sec-sub-home-banner .col-3:after {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  background: rgba(0, 54, 113, 0.7);
  width: 37.25vw;
  height: 100%;
  content: "";
  display: block;
  z-index: -1;
}

html[dir="rtl"] .sec-sub-home-banner .col-3:after {
  left: 0;
  right: auto;
}

.sec-sub-home-banner h1::after {
  content: "";
  height: 6px;
  width: 100%;
  position: absolute;
  background-color: #BE955A;
  left: 0;
  transition: 0.2s all;
  bottom: 0;
}

.navbar.sticky {
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  display: none;
  position: absolute;
  left: 15px;
  max-width: 75px;
  top: 12px;
  height: 39px;
  overflow: hidden;
}

html[dir="rtl"] .navbar-brand {
  left: auto;
  right: 15px;
}

.navbar.sticky .navbar-brand {
  display: inline-block;
}

.navbar.sticky .soc-link {
  display: none !important;
}

.nav-link>svg,
.nav-link>i {
  display: none;
}

.more-details {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  color: #BE955A;
}

h1 {
  font-family: "#DIN-Bold", sans-serif !important;
}

.sec-sub-long-bg .col-3:after {
  left: -500vw;
  width: 1000vw;
}

html[dir="rtl"] .sec-sub-long-bg .col-3:after {
  right: -500vw;
  left: auto;
  width: 1000vw;
}

.sub-text {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-text p {
  max-width: 368px;
  margin: 0 auto;
  color: #003671;
  font-family: "DIN-RegularAlternate", sans-serif;
}

.sub-text-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -33px;
  padding-left: 35px;
}

html[dir="rtl"] .sub-text-info ul {
  padding-left: 0;
  padding-right: 35px;
}

html[dir="rtl"] .sub-text-info ul .subinfo-icon+span {
  display: block;
  text-align: right;
}

.sub-text-info li {
  width: 100%;
  max-width: 48%;
  color: #fff;
  position: relative;
  padding-left: 53px;
  margin-top: 33px;
}

html[dir="rtl"] .sub-text-info li {
  padding-right: 53px;
  padding-left: 0;
}

.sub-text-info li:nth-child(even) {
  margin-left: 1%;
}

html[dir="rtl"] .sub-text-info li:nth-child(even) {
  margin-left: 0;
  margin-right: 1%;
}

.sub-text-info li strong {
  display: block;
  padding-top: 6px;
}

.sub-text-info li .subinfo-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #BE955A;
  width: 27px;
  text-align: center;
}

html[dir="rtl"] .sub-text-info li .subinfo-icon {
  right: 0;
  left: auto;
}

.sub-text-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sticky-button {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 999;
  width: 71px;
  background-color: #003671;
}

html[dir="rtl"] .sticky-button {
  left: 0;
  right: auto;
}

.sticky-button a {
  background-position: center top;
  background-size: 28px;
  background-repeat: no-repeat;
  padding-top: 45px;
  display: block;
  font-family: 'DIN-Regular', sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.sticky-button ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sticky-button ul li {
  padding: 11.5px 0 7px;
}

.sticky-button ul li+li {
  border-top: 1px solid rgba(190, 149, 90, 0.5);
}

.sec-degree-link .readmore-link a,
.sec-degree-link .readmore-link a:hover {
  padding-right: 50px;
  max-width: none !important;
}

.sec-degree-link a.active,
.sec-degree-link a:hover {
  color: #003671;
}

.sec-degree-link a.active:after,
.sec-degree-link a:hover:after {
  background-color: #003671;
}

html[dir="rtl"] .sec-degree-link .readmore-link a {
  padding-right: 0;
  padding-left: 50px;
}

.sec-degree-link {
  padding: 52px 0;
  background-color: #F2F4F8;
}

html[dir="rtl"] .sub-text {
  text-align: right;
}

.sec-main-text h2 {
  max-width: 91%;
  margin-bottom: 0;
}

html[dir="rtl"] .sec-main-text h2 {
  text-align: right;
}

.sec-main-text {
  padding: 75px 0;
}

.sec-left-right-text .container>.row {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.sec-left-right-text .container>.row+.row:after {
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
}

.sec-left-right-text h4,
.sec-events-lr-text .col-lg-4 h4 {
  color: #003671;
}

.sec-left-right-text ul {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0 0;
}

.sec-left-right-text ul li {
  padding-left: 33px;
  position: relative;
  color: #003671;
  font-family: 'DIN-Regular', sans-serif;
}

html[dir="rtl"] .sec-left-right-text ul li {
  padding-right: 33px;
  padding-left: 0;
}

.sec-left-right-text ul li:before {
  content: "";
  height: 1px;
  width: 20px;
  top: 10px;
  left: 0;
  border-radius: 20px;
  position: absolute;
  background-color: #BE955A;
}

html[dir="rtl"] .sec-left-right-text ul li:before {
  left: auto;
  right: 0;
}

.sec-left-right-text iframe {
  margin-top: 35px;
  width: 100%;
  height: 100%;
  min-height: 584px;
}

.sec-left-right-text p {
  width: 91%;
}

.sec-left-right-text p:last-child {
  margin-bottom: 0;
}

.sec-right-text p span.d-inline-block {
  max-width: 259px;
  vertical-align: top;
  margin-top: 20px;
}

.sec-right-text p span.d-inline-block strong {
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-family: '#DIN-Bold', sans-serif;
}

.sec-right-text p span.d-inline-block+span.d-inline-block {
  margin-left: 20px;
}

html[dir="rtl"] .sec-right-text p span.d-inline-block+span.d-inline-block {
  margin-left: 0;
  margin-right: 20px;
}

.sec-right-text .sec-right-text {
  padding-left: 30px;
}

html[dir="rtl"] .sec-right-text .sec-right-text {
  padding-left: 0;
  padding-right: 30px;
}

.sec-right-text p a {
  color: #003671;
  text-decoration: underline;
}

.intake-link .readmore-link a,
.intake-link .readmore-link a:hover {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: none !important;
}

.intake-link .readmore-link {
  display: inline-block;
}

.intake-link .readmore-link+.readmore-link {
  margin-left: 60px;
}

.intake-link {
  padding: 40px 0;
}

html[dir="rtl"] .intake-link .readmore-link+.readmore-link {
  margin-left: 0;
  margin-right: 60px;
}

html[dir="rtl"] .sec-left-right-text p,
html[dir="rtl"] .sec-left-right-text {
  text-align: right;
}

.sec-left-right-text ul li+li {
  margin-top: 5px;
}

.sec-right-text p+p {
  margin-top: 28px;
}

.sec-right-text table th {
  font-family: '#DIN-Bold', sans-serif;
  padding: 30px 0 28px;
}

.sec-right-text table {
  width: 100%;
  border-top: 1px solid rgba(112, 112, 112, 0.5);
}

.sec-right-text table tr>th:first-child,
.sec-right-text table tr>td:first-child {
  width: 246px;
}

.sec-right-text table tr>th,
.sec-right-text table tr>td {
  padding-left: 45px;
}

html[dir="rtl"] .sec-right-text table tr>th,
html[dir="rtl"] .sec-right-text table tr>td {
  padding-left: 0;
  padding-right: 45px;
}

.sec-right-text table tr:nth-child(even) {
  background-color: #F2F4F8;
}

.sec-right-text table tr:not(:first-child) td {
  padding: 15px 0 15px 45px;
}

html[dir="rtl"] .sec-right-text table tr:not(:first-child) td {
  padding: 15px 45px 15px 0;
}

.tab-content .tab-pane .tab-img-info>div {
  font-family: 'DIN-Regular', sans-serif;
  padding-left: 46px;
  position: relative;
}

html[dir="rtl"] .tab-content .tab-pane .tab-img-info>div {
  padding-left: 0;
  padding-right: 46px;
}

.tab-content .tab-pane .tab-img-info>div+div {
  margin-top: 28px;
}

.tab-content .tab-pane .tab-img-info>div:after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  background-color: #003671;
  border-radius: 50%;
}

html[dir="rtl"] .tab-content .tab-pane .tab-img-info>div:after {
  left: auto;
  right: 0;
}

.tab-content .tab-pane .tab-img-info {
  width: 252px;
}

.tab-content .tab-pane .tab-img-info>div.tab-info-icon2:after {
  background-color: #6A97C8;
}

.tab-content .tab-pane .tab-img-info>div.tab-info-icon3:after {
  background-color: #ABC0D8;
}

.tab-content .tab-pane .tab-img-info>div.tab-info-icon4:after {
  background-color: #BE955A;
}

.tab-content .tab-pane .tab-img-info>div.tab-info-icon5:after {
  background-color: #E1C8A5;
}

.tab-content .tab-pane .tab-img-info>div.tab-info-icon6:after {
  background-color: #D8D3CC;
}

#participanContent>.tab-pane+.tab-pane {
  margin-top: 60px;
}

#participan2,
#participan {
  display: none;
}

.tab-info-line>div {
  font-size: 14px;
  line-height: 25px;
  position: relative;
}

.tab-info-line>div>div {
  position: absolute;
  right: 0;
  width: 45%;
  height: 8.66px;
  top: 50%;
  transform: translateY(-20%);
}

html[dir="rtl"] .tab-info-line>div>div {
  right: auto;
  left: 0;
}

.tab-info-line>div>div>div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #003671;
}

html[dir="rtl"] .tab-info-line>div>div>div {
  left: auto;
  right: 0;
}

.tab-info-line>div.tab-info-line1>div>div {
  background-color: #003671;
}

.tab-info-line>div.tab-info-line2>div>div {
  background-color: #ABC0D8;
}

.tab-info-line>div.tab-info-line3>div>div {
  background-color: #6A97C8;
}

.tab-info-line>div.tab-info-line4>div>div {
  background-color: #BE955A;
}

.tab-info-line {
  width: 100%;
}

#participan2Content {
  padding-left: 10%;
  padding-right: 5%;
}

html[dir="rtl"] #participan2Content {
  padding-left: 5%;
  padding-right: 10%;
}

#participan2Content>.tab-pane+.tab-pane {
  margin-top: 95px;
}

.sec-left-right-text {
  overflow: hidden;
}

.owl-carousel.testimonials-slider .owl-stage-outer {
  overflow: visible;
}

.testimonials-slider .owl-item {
  background-color: #F2F4F8;
  padding: 55px 50px;
}

.testimonials-slider .testimonials-img {
  display: flex;
  align-items: center;
  margin-top: 37px;
}

.testimonials-slider .testimonials-img h6 {
  margin-bottom: 0;
}

.testimonials-slider p {
  font-size: 24px;
  font-family: 'DIN-Light', sans-serif;
  line-height: 35px;
  max-width: 87%;
}

.testimonials-slider p.text-small {
  font-size: 16px;
  font-family: 'DIN-Regular', sans-serif;
  line-height: 25px;
}

.testimonials-slider p strong {
  font-size: 24px;
  font-family: 'DIN-Bold', sans-serif;
  line-height: 35px;
  color: #003671;
}

.testimonials-slider p+p {
  margin-top: 0;
}

.testimonials-img-left {
  width: 112px;
  height: 112px;
  overflow: hidden;
  border-radius: 50%;
}

.testimonials-img-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-img-right h6 {
  font-family: 'DIN-Bold', sans-serif;
  text-transform: uppercase;
  color: #003671;
}

.testimonials-img-right {
  margin-left: 43px;
  position: relative;
}

html[dir="rtl"] .testimonials-img-right {
  margin-right: 43px;
  margin-left: 0;
}

.testimonials-img-right::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #BE955A;
  left: 0;
  top: -25px;
  position: absolute;
}

html[dir="rtl"] .testimonials-img-right::after {
  left: auto;
  right: 0;
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: flex;
}

.owl-carousel .owl-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

.owl-carousel .caption {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.owl-carousel .flex-text {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.owl-carousel .thumbnail {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0 15px;
}

.sec-right-slider {
  margin-bottom: -25px;
}

.sec-right-slider>p {
  max-width: 48%;
}

.owl-carousel.testimonials-slider {
  margin-top: 55px;
}

.testimonials-slider .testimonials-slide {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.sec-right-slider .owl-nav {
  position: absolute;
  top: -95px;
  right: 0;
  display: flex;
}

html[dir="rtl"] .sec-right-slider .owl-nav {
  right: auto;
  left: 0;
}

body .sec-right-slider .owl-nav button {
  font-size: 42px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #BE955A !important;
  position: relative;
}

body .sec-right-slider .owl-nav button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

body .sec-right-slider .owl-nav span {
  font-size: 52px;
  color: #BE955A;
  position: absolute;
  top: -17px;
  line-height: normal;
}

body .sec-right-slider .owl-nav button+button {
  margin-left: 10px;
}

html[dir="rtl"] body .sec-right-slider .owl-nav button+button {
  margin-left: 0px;
  margin-right: 10px;
}

.sec-alumni-ambassador {
  background-color: #F2F4F8;
  padding: 47px 78px 47px 20px;
  position: relative;
  margin-bottom: 75px;
}

html[dir="rtl"] .sec-alumni-ambassador {
  padding: 47px 20px 47px 78px;
}

.sec-alumni-ambassador .sec-right-icon>i,
.sec-alumni-ambassador .sec-right-icon>svg {
  font-size: 65px;
  color: #003671;
  position: absolute;
  top: -8px;
  left: 0;
}

html[dir="rtl"] .sec-alumni-ambassador .sec-right-icon>i,
html[dir="rtl"] .sec-alumni-ambassador .sec-right-icon>svg {
  left: auto;
  right: 0;
}

.sec-alumni-ambassador .sec-right-icon {
  position: relative;
  padding-left: 80px;
}

html[dir="rtl"] .sec-alumni-ambassador .sec-right-icon {
  padding-left: 0;
  padding-right: 80px;
}

.sec-alumni-ambassador .sec-right-icon p {
  width: 100%;
}

.sec-alumni-ambassador .sec-right-icon p strong {
  font-family: 'DIN-Bold', sans-serif;
  font-size: 26px;
  line-height: 50px;
}

.sec-alumni-ambassador p.line-bottom {
  position: relative;
  width: 100%;
  margin-top: 58px;
}

.sec-alumni-ambassador p.line-bottom::after {
  height: 5px;
  background-color: #003671;
}

.sec-alumni-ambassador .readmore-link,
.sec-alumni-ambassador .readmore-link a,
.sec-alumni-ambassador .readmore-link:hover,
.sec-alumni-ambassador .readmore-link a:hover {
  max-width: none;
  display: inline-block;
  width: auto;
}

.sec-alumni-ambassador .readmore-link a {
  padding-right: 40px;
}

html[dir="rtl"] .sec-alumni-ambassador .readmore-link a {
  padding-right: 0;
  padding-left: 40px;
}

.sec-alumni-ambassador .text-small {
  margin-top: 14px;
}

.sec-alumni-ambassador .readmore-link {
  margin-top: 43px;
}

.sec-sub-half-bg.sec-sub-long-bg .col-3:after {
  width: 37.25vw;
  left: auto;
}

html[dir="rtl"] .sec-sub-half-bg.sec-sub-long-bg .col-3:after {
  width: 37.25vw;
  left: 0;
  right: auto;
}

.sec-admissions-banner.sec-sub-home-banner .col.col-12 {
  height: 700px;
}

.sec-howtostudy {
  padding: 50px 0;
  margin-bottom: 20px;
}

.howtostudy-step {
  margin-top: 17px;
}

.howtostudy-step ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.howtostudy-step ul li {
  min-height: 176px;
  min-width: 176px;
  max-height: 176px;
  max-width: 176px;
  border-radius: 50%;
  position: relative;
  background-color: #003671;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.howtostudy-step ul li>span {
  font-family: 'DIN-Bold', sans-serif;
  color: #fff;
  text-align: center;
}

.howtostudy-step ul li .study-step {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 88px;
  height: 37px;
  border-radius: 28px;
  background-color: #BE955A;
  font-family: 'DIN-Regular', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.howtostudy-step ul li+li:after {
  content: "";
  width: 75px;
  height: 28px;
  display: inline-block;
  background-image: url(../images/admissions/step-right.svg);
  position: absolute;
  right: 100%;
  background-size: 100%;
  z-index: -1;
  background-repeat: no-repeat;
}

html[dir="rtl"] .howtostudy-step ul li+li:after {
  right: auto;
  left: 100%;
  transform: rotate(180deg);
}

.sec-left-right-text.sec-admissions-lr-text .container>.row+.row:after {
  opacity: 0;
}

.sec-accordion-text .btn-link {
  padding: 0;
  border-radius: 0;
  font-family: 'DIN-Bold', sans-serif;
  font-size: 16px;
  line-height: 25px;
  padding-right: 30px;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid #ABABAC;
  padding-bottom: 13px;
  color: #BE955A;
}
html[dir="rtl"] .sec-accordion-text .btn-link {
  padding-right: 0;
  padding-left: 30px;
  text-align: right !important;
}

.sec-accordion-text .btn-link i,
.sec-accordion-text .btn-link svg {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 26px;
}

html[dir="rtl"] .sec-accordion-text .btn-link i,
html[dir="rtl"] .sec-accordion-text .btn-link svg {
  right: auto;
  left: 0;
}
html[dir="rtl"] .sec-accordion-text .btn-link::after
{
  right: 0;
  left: auto;
}
.sec-accordion-text .btn-link::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  max-width: 249px;
  bottom: 0;
  display: inline-block;
  background-color: #ABABAC;
  left: 0;
}

.sec-accordion-text .btn-link:focus,
.sec-accordion-text .btn-link {
  box-shadow: none;
  outline: none;
}

.sec-accordion-text .accordion-body {
  padding: 24px 0px 24px 45px;
}

.sec-accordion-text .accordion-text+.accordion-text {
  margin-top: 35px;
}

.sec-accordion-text .btn-link[aria-expanded="true"] .fa-plus-circle,
.sec-accordion-text .btn-link[aria-expanded="flase"] .fa-minus-circle {
  opacity: 0;
  visibility: hidden;
}

.sec-left-right-text.sec-admissions-lr-text .container>.row+.row {
  padding-top: 20px;
}

.sub-long-text p
{
  max-width: 700px;
}

.bg-light-grey
{
  background-color: #F2F4F8;  
}

.sec-right-text p a.read-more-link-p
{
  color: #BE955A;
}

.sec-factsfigures-row .figures-block
{
  text-align: center;
}
.sec-factsfigures-row .figures-block p{
  margin: 0 auto;
  max-width: 71%;
}
.sec-factsfigures-row .figures-block h2.h1
{
  color: #003671;
}
.sec-left-right-text .container>.row.sec-factsfigures-row
{
    padding-top: 75px;
    padding-bottom: 63px;
}
html[dir="rtl"] .sec-factsfigures-row .figures-block h2.h1,
html[dir="rtl"] .sec-factsfigures-row .figures-block p
{
  text-align: center;
}
html[dir="rtl"] .figures-block {
  border-left: 1px solid #707070;
  border-right: 0;
}
html[dir="rtl"] .figures-block:nth-child(3n) {
  border-left: none;
}
.accordion-body ul li
{
  color: #58585A;
}
.accordion-body ul
{
  margin-top: 25px;
}
.sec-left-right-text .container>.row.sec-specificskills-row
{
  padding-top: 75px;
  padding-bottom: 22px;
}
.select-link
{
  position: relative;
  border: none;
  color: #BE955A;
  width: 100%;
  max-width: 272px;
}
.select-link select,
.select-link select:focus
{
  border: none;
  color: #BE955A;
  border-bottom: 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 16px;
  padding-left: 0;
  padding-right: 15px;
  padding-bottom: 0;
  border-radius: 0;
  position: relative;
  z-index: 1;
}
.select-link svg {
  position: absolute;
  top: 14px;
  right: 0;
  font-size: 12px;
}
html[dir="rtl"] .select-link svg
{
  right: auto;
  left: 0;
}
html[dir="rtl"] .select-link select,
html[dir="rtl"] .select-link select:focus
{
  padding-left: 15px;
  padding-right: 0;
}

.link-white,
.link-white a,
.link-white a:hover,
.link-white svg
{
  color: #fff;
}
.link-white a:after,
.link-white a:hover:after
{
  background-color: #fff;
}
body .link-white a,
body .link-white a:hover{
  max-width: none;
  width: auto;
}
body .link-white a
{
  padding-right: 35px;
}
body .link-white a:hover
{
  padding-right: 50px;
}
html[dir="rtl"] body .link-white a
{
  padding-right: 0;
  padding-left: 35px;
}
html[dir="rtl"] body .link-white a:hover
{
  padding-right: 0;
  padding-left: 50px;
}
.sec-news-banner .banner-content-left .small-title {
  margin-bottom: 20px;
}
.sec-news-banner .link-white
{
  margin-top: 50px;
}
.sec-news-banner .banner-content-left
{
  padding-bottom: 100px;
}
.sec-home-banner.sec-news-banner .col.col-12
{
  height: 925px;
}
.sec-latestreleases .col-lg-4.d-flex
{
  margin-bottom: 50px;
}
.sec-latestreleases .interested-wb
{
  margin-top: 0;
}
.filter-links
{
  margin-bottom: 30px;
  margin-top: -10px;
}

.filterlink a
{
  color: #BE955A;
  padding-left: 27px;
  padding-right: 27px;
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}
.filterlink a svg{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 14px;
}
.filterlink a svg.leftsvg,
.filterlink a svg.rightsvg
{
  left: 0;
  right: auto;
}
html[dir="rtl"] .filterlink a svg.leftsvg,
.filterlink a svg.rightsvg
{
  left: auto;
  right: 0;
}
.filterlink a.datelink
{
  padding-left: 20px;
  padding-right: 27px;
}
html[dir="rtl"] .filterlink a.datelink
{
  padding-left: 27px;
  padding-right: 20px;
}
.filterlink > div + div{
  margin-left: 45px;
}
html[dir="rtl"] .filterlink > div + div{
  margin-left: 0;
  margin-right: 45px;
}
.filterlink a:hover,
.filterlink a[aria-expanded="true"]
{
  color: #003671;
}
.right-date
{
  color: rgba(88,88,90,0.5);
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'DIN-Regular', sans-serif;
}
.sec-events-banner .col.col-12
{
  height: 700px;
}
.sec-events-lr-text
{
  padding-top: 60px;
  padding-bottom: 60px;
}
.sec-events-lr-text .col-lg-4 h4
{
  position: relative;
  display: inline-block;
  padding-bottom: 35px;
}
.sec-events-lr-text .col-lg-4 h4::after {
  content: "";
  height: 6px;
  width: 100%;
  position: absolute;
  background-color: #BE955A;
  left: 0;
  transition: 0.2s all;
  bottom: 0;
}
html[dir="rtl"] .sec-events-lr-text .col-lg-4 h4::after
{
  left: auto;
  right: 0;
}
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  line-height: normal;
  color: rgba(88,88,90,0.5);
}
html[dir="rtl"] .checkbox-container {
  padding-left: 0;
  padding-right: 35px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #BE955A;
}
html[dir="rtl"] .checkmark
{
  left: auto;
  right: 0;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #BE955A;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
html[dir="rtl"] .checkbox-container .checkmark:after
{
  left: auto;
  right: 5px;
}
.checkbox-section h6
{
  color: rgba(88,88,90,0.5);
  margin-top: 5px;
  margin-bottom: 25px;
}
.clear-link
{
  position: relative;
  padding-left: 25px;
  color: #BE955A;
  padding-bottom: 3px;
  border-bottom: 1px solid;
}
html[dir="rtl"] .clear-link
{
  padding-left: 0;
  padding-right: 25px;
}
.clear-link svg
{
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  font-size: 14px;
}
html[dir="rtl"] .clear-link svg
{
  left: auto;
  right:0;
}
.clear-filters
{
  margin-top: 35px;
}
.events-time
{
  margin-top: 12px;
}
html[dir="rtl"] .sec-events-lr-text .col-lg-4
{
  text-align: right;
}
.sub-text-grey p
{
  color: #58585A !important;
}
.post-title h1
{
  font-family: 'DIN-Bold', sans-serif !important;
}
.post-nav a
{
  color: #BE955A;
  font-size: 26px;
  line-height: 50px;
  position: relative;
}
.post-nav a:hover
{
  color: #003671;
}
.post-nav a.navpre
{
  padding-left: 50px;
}
html[dir="rtl"] .post-nav a.navpre
{
  padding-left: 0;
  padding-right: 50px;
}
.post-nav a.navpre svg
{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
}
html[dir="rtl"] .post-nav a.navpre svg
{
  left:auto;
  right:0;
  transform: rotate(180deg) translateY(50%);
}
.post-nav a.navnext
{
  padding-right: 50px;
}
html[dir="rtl"] .post-nav a.navnext
{
  padding-left: 50px;
  padding-right: 0;
}
.post-nav a.navnext svg
{
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
}
html[dir="rtl"] .post-nav a.navnext svg
{
  left:0;
  right:auto;
  transform: rotate(180deg) translateY(50%);
}
.post-nav
{
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  padding-top: 25px;
  margin-top: 50px;
}
.sec-post-single
{
  padding-top: 155px;
  padding-bottom: 70px;
}
.post-text
{
  margin-top: 47px;
}
.post-text p+p{
  margin-top: 25px;
}
.site-logo-blue .navbar-brand
{
  display: block;
}
.site-logo-blue .navbar-brand a > img
{
  width: 75px;
  height: 52.11px;
}
.site-logo-blue .navbar:not(.sticky)  .navbar-brand a > img:first-child
{
  display: none;
}
.site-logo-blue .navbar.sticky .navbar-brand a > img:last-child
{
  display: none;
}
.navbar-dark .navbar-nav .nav-link span
{
  font-family: 'DIN-Regular', sans-serif;
}
.navbar-dark .navbar-nav .nav-item.active .nav-link span
{
  font-family: 'DIN-Bold', sans-serif;
}
html[dir="rtl"] .mr-auto.mr-auto
{
  margin-left: auto !important;
  margin-right: auto !important;
}
html[dir="rtl"] .post-title h1
{
  text-align: right;
}
.post-img img{
  width: 100%;
}
.sub-text-grey
{
  color: #58585A !important;
}
.text-decoration{
  text-decoration: underline !important;
}
.filterlink
{
  display: block;
  width: 60%;
}
.filterlink .dropdown-menu
{
  transition: none !important;
  padding: 20px;
  background-color: #003671 !important;
}
.filterlink .dropdown-menu > a{
  color: #fff;
  padding: 0;
  border: none;
  max-width: 250px;
  overflow: hidden;
}
.filterlink .dropdown-menu > a:hover{
  color: #BE955A;
}
.filterlink .dropdown-toggle::after
{
  display: none;
}
/*Recommend a Friend*/
body .sec-recommendfriend-row .mktoForm select,
body .sec-recommendfriend-row .mktoForm input
{
  border: 0;
  border-bottom: 1px solid #aeb0b6;
  border-radius: 0;
  box-shadow: none;
  min-width: 424px;
  max-width: 424px;
  background-color: transparent;
  float: right;
  color: rgba(174, 176, 182, 0.8);
  font-size: 16px;
  padding-left: 0;
}
body .sec-recommendfriend-row .mktoForm input::-webkit-input-placeholder { 
  color: rgba(174, 176, 182, 0.8);
}
body .sec-recommendfriend-row .mktoForm input::-moz-placeholder { 
  color: rgba(174, 176, 182, 0.8);
}
body .sec-recommendfriend-row .mktoForm input:-ms-input-placeholder { 
  color: rgba(174, 176, 182, 0.8);
}
body .sec-recommendfriend-row .mktoForm input:-moz-placeholder { 
  color: rgba(174, 176, 182, 0.8);
}
body .sec-recommendfriend-row .mktoForm label
{
  display: inline-block;
  width: auto !important;
  font-family: 'DIN-Regular', sans-serif;
  font-weight: normal !important;
  font-size: 16px;
}
body .sec-recommendfriend-row .mktoForm select.mktoInvalid,
body .sec-recommendfriend-row .mktoForm input.mktoInvalid
{
  border: 0;
  border-bottom: 1px solid #8C0005;
}
body .sec-recommendfriend-row .mktoForm select.mktoInvalid:focus,
body .sec-recommendfriend-row .mktoForm input.mktoInvalid:focus,
body .sec-recommendfriend-row .mktoForm select:focus,
body .sec-recommendfriend-row .mktoForm input:focus
{
  border: 0;
  border-bottom: 1px solid #aeb0b6;
}
body .sec-recommendfriend-row .mktoForm > .mktoFormRow,
body .sec-recommendfriend-row .mktoForm > .mktoFormRow > div,
body .sec-recommendfriend-row .mktoForm > .mktoFormRow > div > div
{
  width: 100%;
}
body .sec-recommendfriend-row .mktoForm
{
  width: 600px !important;
  margin-top: -12px
}
body .sec-recommendfriend-row .mktoForm select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url(../images/chevron-down.svg);
  background-position: right -2px;
}
body .sec-recommendfriend-row .mktoForm select::-ms-expand {
  display:none!important;
}
body .mktoButtonRow span
{
  margin-left: 0 !important;
}
body .mktoButtonRow span .mktoButton
{
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #BE955A !important;
  color:#BE955A !important;
  text-align: left;
  padding-left: 0 !important;  
  padding-right: 50px !important;  
  text-transform: uppercase;
  transition: all 0.2s;
  font-size: 16px !important;
  padding-bottom: 5px !important;
}
body .mktoButtonRow span .mktoButton:hover{
  padding-right: 60px !important;  
}
body .mktoButtonRow span .mktoButton:after
{
  content: "";
  position: absolute;
  right: -4px;
  background-image: url(../images/chevron-down.svg);
  background-position: right -8px;
  height: 8px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  bottom: 11px;
  transform: rotate(-90deg);
}
body .mktoForm .mktoButtonRow
{
  margin-top:25px;
}
@media (max-width:991px)
{
  body .sec-recommendfriend-row .mktoForm
  {
    width:100% !important;
  }
  body .sec-recommendfriend-row .mktoForm select, 
  body .sec-recommendfriend-row .mktoForm input
  {
    min-width: 380px;
    max-width: 380px;
  }
}
@media (max-width:575px)
{
  body .sec-recommendfriend-row .mktoForm select, 
  body .sec-recommendfriend-row .mktoForm input {
    min-width: 1px;
    max-width: 100%;
    display: block;
    float: none;
    width: 100% !important;
  } 
}
/*END Recommend a Friend*/

/*Top-slider*/
.owl-carousel.top-banner-slider
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.owl-carousel.top-banner-slider > div,
.owl-carousel.top-banner-slider > div .owl-stage
{
  height: 100%;
  width: 100%;
}
.owl-carousel.top-banner-slider > div .owl-stage .top-slide
{
  width: 100%;
  height: 100%;
  background-position: center, top;
  background-size: cover, 0;
  background-color:#000;
}

@media (max-width:767px)
{
  .owl-carousel.top-banner-slider > div .owl-stage .top-slide
  {
    background-position: center, top;
    background-size: 0,cover;
  } 
}
/*End-Top-slider*/