{#
/**
 * @file
 * Default theme implementation for a summary of a form Salesforce post handler.
 *
 * Available variables:
 * - settings: The current configuration for this remote post handler:
 * - handler: The handler information, including:
 *   - id: The handler plugin id.
 *   - handler_id: The handler id.
 *   - label: The handler label.
 *   - description: The handler description.
 *
 * @ingroup themeable
 */
#}
<b>{{ 'Total mapped fields:'|t }}</b> {{ settings.marketo_ma_mapping|length }}<br/>
