<div class="section sec-delivery-process" style="background-color: #F2F4F8;">
    <div class="delivery-process-slider owl-carousel owl-carousel-simple-nav">

        <div class="delivery-process-title">
        <h2 class="big-title">{{ content['#block_content'].field_section_title.value|raw }}</h2>
        {{ content.body.0|raw }}
        </div>
        
        {% for delivery_process in content['#block_content'].field_delivery_process.value %}
        <div class="delivery-process-item">
        <h2 class="delivery-process-item-title"><span>{{ bamboo_render_field('field_count', 'paragraph', delivery_process['target_id']) }}</span> {{ bamboo_render_field('field_title', 'paragraph', delivery_process['target_id']) }}</h2>
        {{ bamboo_render_field('field_paragraph_content', 'paragraph', delivery_process['target_id']) }}
        <div class="deliver-process-image">
            {{ bamboo_render_field('field_campus_image', 'paragraph', delivery_process['target_id']) }}
        </div>
        </div>
        {% endfor %}

    </div>
    </div>