<div class="section sec-message" style="background-color: #F2F4F8;">
<div class="container">
    <div class="row">
    <div class="col-md-5 message-section-image">
        {% set base_url = render_var(url('<front>'))  %}
        {% set image_url = base_url|trim('/', 'right')~file_url(content.field_image_left_section_.0['#item'].entity.uri.value) %}
        
        <img src="{{ image_url }}" alt="{{ file_url(content.field_image_left_section_.0['#item'].entity.alt.value) }}" class="img-fluid"/>
    </div>
    <div class="col-md-7 message-section-content">
        {{ content.body.0|raw }}
        <div class="author-info">
            <h6 class="author-name">{{ content['#block_content'].field_author_name.value|raw }}</h6>
            <h6 class="author-position">{{ content['#block_content'].field_author_position.value|raw }}</h6>
        </div>
        </div>
    </div>
</div>
</div>