<div class="section sec-abouthec">
<div class="container">
    <div class="row">
    <div class="col-12 col-md-6 col-lg-7">
        <div class="abouthec-video">
            {{ content['#block_content'].field_video_iframe.value|raw }}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        <div class="abouthec-text d-flex align-items-center justify-items-center h-100">
        <div class="w-100">
            {{ content.body.0|raw }}
        </div>
        </div>
    </div>
    </div>
</div>
</div>