<div class="section sec-hec-motto">
<div class="container">
    <div class="row">
    <div class="col-12 our-mission-vision-block mt-0">
        <div class="row align-items-center">
            <div class="col-md-6 text-block">
                {{ content.body.0|raw }}
            </div>
            <div class="col-md-6">
                {% set base_url = render_var(url('<front>'))  %}
                {% set image_url = base_url|trim('/', 'right')~file_url(content.field_image_left_section_.0['#item'].entity.uri.value) %}
                
                <img src="{{ image_url }}" alt="{{ file_url(content.field_image_left_section_.0['#item'].entity.alt.value) }}" class="img-fluid"/>
            </div>
        </div>
    </div>
    </div>
</div>
</div>