<div class="sec-left-right-text">
<div class="container">

    <div class="row sec-programCurriculum-row pt-0">
    <div class="col-3">
    </div>
    <div class="col-9">
        <div class="sec-right-text right-text-ul">
        <div class="feature-event-block">
            {% if content['#block_content'].field_date.value %}
            <h6 class="feature-event-date"><i class="fal fa-calendar"></i> {{ content['#block_content'].field_date.value|raw }}</h6>
            {% endif %}
            <h2 class="feature-event-title">{{ content['#block_content'].field_section_title.value|raw }}</h2>
            {{ content.body.0|raw }}

            {% if content.field_link.0['#url'] %}
            <div class="readmore-link">
            <a href="{{ content.field_link.0['#url'] }}">{{ content.field_link.0['#title'] }} <i class="fal fa-chevron-right"></i></a>
            </div>
            {% endif %}
        </div>
        </div>
    </div>
    </div>
    
</div>
</div>