<div class="sec-left-right-text sec-admissions-lr-text mb-5">
<div class="container">
<div class="row sec-factsfigures-row" id="secFactsFigures">
<div class="col-3">
<h4>{{ content['#block_content'].field_section_title.value|raw }}</h4>
</div>

<div class="col-9">
<div class="row">

{% for facts_figures in content['#block_content'].field_facts_figures.value %}
<div class="col-md-4 figures-block">
    {{ bamboo_render_entity('paragraph', facts_figures['target_id']) }}
</div>
{% endfor %}

</div>
</div>
</div>
</div>
</div>