<div class="section sec-education-campuses" style="background-color: #F2F4F8;">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <h2 class="h1 text-highlighted">{{ content['#block_content'].field_section_title.value|raw }}</h2>
        </div>
        <div class="col-12">
            <div class="row campuse-block-row">

            {% for education_campus in content['#block_content'].field_executive_education_campus.value %}
                <div class="col-lg-4 campuse-block">
                    <div class="campuse-image">
                    {{ bamboo_render_field('field_campus_image', 'paragraph', education_campus['target_id']) }}
                    </div>
                    <div class="campuse-content">
                    <h4 class="text-highlighted">{{ bamboo_render_field('field_title', 'paragraph', education_campus['target_id']) }}</h4>
                    {{ bamboo_render_field('field_content', 'paragraph', education_campus['target_id']) }}
                    <div class="readmore-link">
                        {{ bamboo_render_field('field_link', 'paragraph', education_campus['target_id']) }}
                    </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
        </div>
    </div>
    </div>