{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
  {% if events_list %}
  <div class="section sec-upevents pt-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 text-highlighted">Upcoming Events</h2>
        </div>

        {% for event in events_list %}
        <div class="col-12">
          <div class="events-text">
            <div class="events-calendar d-flex justify-content-between">
              <span class="event-date text-uppercase">{{ event.events_date}}</span>
              <span class="add-to-calendar d-none d-md-inline-block">
                <a href="#" class="dropdown-toggle line-bottom" role="button" id="dropdownMenuLink{{ event.nid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-calendar"></i>
                  ADD TO CALENDAR
                </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ event.nid }}">
                <a class="dropdown-item" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text={{ event.title }}&amp;dates={{ event.events_start_date }}/{{ event.events_end_date }}&amp;details={{ event.body_full }}&amp;location={{ event.event_location }}&amp;sprop=&amp;sprop=name:" target="_blank" rel="nofollow">Google Calendar</a>
                <a class="dropdown-item" href="http://calendar.yahoo.com/?v=60&view=d&type=20&title={{ event.title }}&st={{ event.events_start_date }}&dur=&desc={{ event.body_full }}&in_loc={{ event.event_location }}">Yahoo! Calendar</a>
                <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR">iCal Calendar</a>
                <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR">Outlook Calendar</a>
                <a class="dropdown-item" href="https://addtocalendar.com/atc/ical?utz=330&uln=en-US&vjs=1.5&e[0][date_start]={{ event.events_start_date }}&e[0][date_end]={{ event.events_end_date }}&e[0][title]={{ event.title }}&e[0][description]={{ event.body_full }}">Apple Calendar</a>
            </div>
              </span>
            </div>
            <div class="events-name">
              <h4>{{ event.title }}</h4>
            </div>
            <div class="events-time">
              <span class="e-time d-block">
                <i class="fal fa-clock"></i>
                {{ event.event_time}}
              </span>
              <span class="e-loc d-block">
                <a target="_blank" href="{{ event.event_map }}"><i class="fal fa-map-marker"></i>
                  {{ event.event_location }}</a>
              </span>
            </div>
            <p class="event-content d-none d-md-block">
              {{ event.body_full|raw }}
            </p>
            <a href="#" class="dropdown-toggle line-bottom d-md-none more-details" role="button" id="dropdownMenuLink{{ event.nid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADD TO CALENDAR
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ event.nid }}">
                <a class="dropdown-item" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text={{ event.title }}&amp;dates={{ event.events_start_date }}/{{ event.events_end_date }}&amp;details={{ event.body_full }}&amp;location={{ event.event_location }}&amp;sprop=&amp;sprop=name:" target="_blank" rel="nofollow">Google Calendar</a>
                <a class="dropdown-item" href="http://calendar.yahoo.com/?v=60&view=d&type=20&title={{ event.title }}&st={{ event.events_start_date }}&dur=&desc={{ event.body_full }}&in_loc={{ event.event_location }}">Yahoo! Calendar</a>
                <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR">iCal Calendar</a>
                <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR">Outlook Calendar</a>
                <a class="dropdown-item" href="https://addtocalendar.com/atc/ical?utz=330&uln=en-US&vjs=1.5&e[0][date_start]={{ event.events_start_date }}&e[0][date_end]={{ event.events_end_date }}&e[0][title]={{ event.title }}&e[0][description]={{ event.body_full }}">Apple Calendar</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col-12">
          <div class="interested-more d-flex justify-content-between">
            <span class="event-interested"><a href="#">Interested in more events?</a></span>
            <span class="show-all-events">
              <a href="/events" class="icon-right">
                <i class="fal fa-plus-circle"></i>
                Show all events
              </a>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endif %}
{% endblock %}