{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
{% if study_steps_title %}
<div class="sec-howtostudy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="text-highlighted">{{ study_steps_title.0.value }}</h4>
      </div>
      <div class="col-12">
        <div class="howtostudy-step">
          <ul class="p-0 m-0">
            {% for key,value in study_steps %}
              <li>
                <span>{{ value }}
                  <span class="study-step">{{ key }}</span>
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}