{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
<script>
  var base_url = '{{ render_var(url('<front>')) }}';
</script>
{% set base_url = render_var(url('<front>')) %}

{% if not is_front %}
<div class="sec-home-banner sec-sub-home-banner sec-sub-half-bg sec-only-title-banner">
  {% if banner_images_val %}
    <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
      {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
    </div>
  {% endif %}
  <div class="container position-relative">
    <div class="row">
      <div class="col col-12">
        <div class="banner-content text-center mt-5">
          {% if site_logo %}
            {% set logo_url = base_url|render~site_logo %}
            <a class="banner-content-left-logo" href="{{ path('<front>') }}">
                <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      {% if title %}
      <div class="col-10 col-md-5 col-lg-3 bg-transparent-blue">
        <div class="title-text">
          <h1 class="h2">{{ title|raw }}</h1>
        </div>
      </div>
      {% endif %}

      {% if banner_content %}
      <div class="col-4 d-none d-md-block">
        <div class="sub-text">
          {{ banner_content|raw }}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
  <div class="hec-page-title">
  </div>
</div>
{% endif %}
{% endblock %}