<div class="sec-left-right-text sec-admissions-lr-text" id="secAmbassadors">
<div class="container">
<div class="row sec-ambassadorprogram-row">
<div class="col-3">
</div>

<div class="col-9">
<div class="sec-right-text sec-accordion-text">
<div class="accordion" id="accordionFinancing">

    {% for accordions in content['#block_content'].field_accordions.value %}
        <div class="accordion-text">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#financing{{ accordions['target_id'] }}" aria-expanded="{{ (accordions['target_id'] == 24) ? 'true' : 'false' }}" aria-controls="financing{{ accordions['target_id'] }}">
            {{ bamboo_render_field('field_title', 'paragraph', accordions['target_id']) }} <span><i class="fal fa-plus-circle"></i><i class="fal fa-minus-circle"></i></span>
            </button>
        <div id="financing{{ accordions['target_id'] }}" class="collapse {{ (accordions['target_id'] == 24) ? 'show' : '' }}" data-parent="#accordionFinancing">
            <div class="accordion-body">
                {{ bamboo_render_field('field_content', 'paragraph', accordions['target_id']) }}
            </div>
        </div>
        </div>
    {% endfor %}
    
</div>
</div>
</div>
</div>
</div>
</div>