<div class="section sec-bottom-text" style="background-color: #F2F4F8;">
<div class="container">
    {{ content.body.0|raw }}
    <div class="author-info">
    <h6 class="author-name">{{ content['#block_content'].field_section_title.value|raw }}</h6>
</div>
</div>
</div>