{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
<script>
  var base_url = '{{url('<front>')}}';
</script>
    {% if is_front %}
    <div class="soc-link mr-auto d-none d-lg-block">
        <ul>
            {% if twitter %}
            <li><a href="{{ twitter }}"><i class="fab fa-twitter"></i></a></li>
            {% endif %}

            {% if youtube %}
            <li><a href="{{ youtube }}"><i class="fab fa-youtube"></i></a></li>
            {% endif %}

            {% if facebook %}
            <li><a href="{{ facebook }}"><i class="fab fa-facebook"></i></a></li>
            {% endif %}

            {% if instagram %}
            <li><a href="{{ instagram }}"><i class="fab fa-instagram"></i></a></li>
            {% endif %}

            {% if linkedin %}
            <li><a href="{{ linkedin }}"><i class="fab fa-linkedin"></i></a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

    {% if site_logo %}
        {% set base_url = render_var(url('<front>'))  %}
        {% set logo_url = base_url|render~site_logo %}
        <div class="navbar-brand mr-auto">
        <a href="{{ path('<front>') }}" rel="home">
            <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
        </a>
        </div>
    {% endif %}
{% endblock %}