{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
{% if achievements_slider %}
<div  id="statticsRanking" class="section sec-achievements" style="background-image: url('{{ achievements_bg.url }}'), url('{{ achievements_mob_bg.url }}');">
  <div class="container">
    <div class="owl-carousel achievements-slider owl-carousel-simple-nav">

      {% for achievement in achievements_slider %}
      <div>
        <div class="achievement-image">
          <img src="{{ achievement.url }}" alt="{{ achievement.alt }}" />
        </div>
        <h2 class="achievement-title">{{ achievement.title | raw }}</h2>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
{% endblock %}