<div class="sec-left-right-text">
    <div class="container">

        <div class="row sec-programCurriculum-row pb-0">
            <div class="col-3">
                <h4 class="">{{ content['#block_content'].field_section_title.value|raw }}</h4>
            </div>
            <div class="col-9">
              <div class="sec-right-text right-text-ul">
                {{ content.body.0|raw }}
              </div>
            </div>
        </div> 

    </div>
</div>