<div class="sec-left-right-text sec-admissions-lr-text" id="secAmbassadors">
<div class="container">
<div class="row sec-ambassadors-row">
<div class="col-3">
<h4>{{ content['#block_content'].field_section_title.value|raw }}</h4>
</div>

<div class="col-9">
<div class="sec-right-text">
<div class="row">

{% for ambassadors in content['#block_content'].field_ambassadors.value %}
<div class="col-12 col-md-4 col-lg-4">
<div class="professor text-center">
<div class="professor-img">{{ bamboo_render_field('field_campus_image', 'paragraph', ambassadors['target_id']) }}</div>

<div class="professor-info">
<h6 class="text-uppercase">{{ bamboo_render_field('field_title', 'paragraph', ambassadors['target_id']) }}<span class="professor-title d-block w-100">{{ bamboo_render_field('field_position', 'paragraph', ambassadors['target_id']) }}</span><span class="professor-title d-block w-100">{{ bamboo_render_field('field_position_info', 'paragraph', ambassadors['target_id']) }}</span><span class="professor-title d-block w-100">{{ bamboo_render_field('field_location', 'paragraph', ambassadors['target_id']) }}</span></h6>
</div>
</div>
</div>
{% endfor %}

</div>
</div>
</div>
</div>
</div>