<div id="deanMessage" class="section sec-abouthec sec-dean-message">
<div class="container">
    <div class="row">
    <div class="col-12 col-md-6 col-lg-7">
        {% if content['#block_content'].field_video_iframe.value %}
        <div class="abouthec-video">
            {{ content['#block_content'].field_video_iframe.value|raw }}
        </div>
        {% else %}
            {% if content.field_image_left_section_.0['#item'].entity.uri.value %}
            <div class="message-section-image">
                {% set base_url = render_var(url('<front>'))  %}
                {% set image_url = base_url|trim('/', 'right')~file_url(content.field_image_left_section_.0['#item'].entity.uri.value) %}
                
                <img src="{{ image_url }}" alt="{{ file_url(content.field_image_left_section_.0['#item'].entity.alt.value) }}" class="img-fluid"/>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        <div class="abouthec-text d-flex align-items-center justify-items-center h-100">
        <div class="w-100">
            {{ content.body.0|raw }}
            <div class="author-info">
                <h6 class="author-name">{{ content['#block_content'].field_author_name.value|raw }}</h6>
                <h6 class="author-position">{{ content['#block_content'].field_author_position.value|raw }}</h6>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>