<footer class="site-footer">
	<div class="container">
	<div class="row top-row">
		<div class="d-md-none text-center">
		<a href="#top"><i class="far fa-arrow-up"></i></a>
		</div>
		<div class="col-12 col-md-5">
		<div class="quick-links">
			<h6 class="d-none d-md-block">Quick Links</h6>
			<div class="links">
			<a href="/careers">Careers</a><br>
			<a href="/resources">Resources</a>
			</div> 
			<div class="links">
			<a href="/alumni">HEC Alumni</a><br>
			<a href="#">HEC Foundation</a>
			</div>
			<div class="links">
			<a href="#">HEC Paris Intranet</a><br>
			<a href="/sitemap">Sitemap</a>
			</div>
		</div>
		</div>
		<div class="col-12 col-md-2 offset-md-1 d-flex justify-content-center">
		<div class="quick-links">
			<h6>HEC Paris  website</h6>
			<div class="links">
			<a class="text-decoration" href="https://www.hec.edu">www.hec.edu</a>
			</div>
		</div>
		</div>
		<div class="col-12 col-md-3 offset-md-1 d-flex justify-content-end">
		<div class="quick-links">
			<h6 class="d-none d-md-block">Get updates from our social media channels</h6>
			<div class="soc-link mr-auto">
			<ul>
				{% if linkedin %}
				<li><a href="{{ linkedin }}"><i class="fab fa-linkedin"></i></a></li>
				{% endif %}

				{% if facebook %}
				<li><a href="{{ facebook }}"><i class="fab fa-facebook"></i></a></li>
				{% endif %}

				{% if instagram %}
				<li><a href="{{ instagram }}"><i class="fab fa-instagram"></i></a></li>
				{% endif %}

				{% if youtube %}
				<li><a href="{{ youtube }}"><i class="fab fa-youtube"></i></a></li>
				{% endif %}

				{% if twitter %}
				<li><a href="{{ twitter }}"><i class="fab fa-twitter"></i></a></li>
				{% endif %}
			</ul>
			</div>
		</div>
		</div>
	</div>
	<div class="row d-none d-md-flex">
		<div class="col-12">
		<div class="footer-bottom d-flex justify-content-between">
			<div class="copyright-text">{{ copyright_text|raw }}</div>
			<div class="backtotop icon-right">
			<a href="#top">RETURN TO TOP <i class="fas fa-chevron-up"></i></a>
			</div>
		</div>
		</div>
	</div>
	</div>
</footer>