<div class="sec-left-right-text">
    <div class="container">      
        <div class="row sec-videoWidget-row sec-videoWidget-mobiel-only-title border-top">
        <div class="col-3">
            <h4 class="">{{ content['#block_content'].field_section_title.value|raw }}</h4>
        </div>
        <div class="col-9">
            <div class="sec-right-text right-text-video">
            {{ content.body.0|raw }}
            {{ content['#block_content'].field_video_iframe.value|raw }}            
            </div>
        </div>
        </div>
    </div>
    </div>