<div class="sec-left-right-text sec-admissions-lr-text" id="secAmbassadors">
    <div class="container">
        <div class="row sec-qatarchapter-row">
        <div class="col-3">
            <h4>{{ content['#block_content'].field_section_title.value|raw }}</h4>
        </div>
        <div class="col-9">
            <div class="sec-right-text">
            {{ content.body.0|raw }}
            </div>
        </div>
        </div>
    </div>
</div>