{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
{% if programs_list %}
  <div class="section sec-ourprograms">
    <div class="container">
        <div class="row no-gutters">
          
            <div class="col-12 col-md-6 col-lg-4">
              <div class="section-title">
                <h2 class="d-inline-block h1">{{ content['#block_content'].info.value }}</h2>
              </div>
            </div>
          
            {% for programs in programs_list %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="sub-section-title d-flex align-items-end" style="background-image:url({{ programs.program_image.url }});">
                  <div class="w-100">
                    <h3 class="d-inline-block">{{ programs.title }}</h3>
                    <div class="readmore-link">
                      <a href="{{ programs.program_url }}">Read More <i class="fal fa-chevron-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

            <div class="col-12 col-md-6 col-lg-4">
              <div class="sub-section-title d-flex align-items-end" style="background-image:url({{ cust_prog_img.url }});">
                <div class="w-100">
                  <h3 class="d-inline-block">{{ cust_prog_title.0.value }}</h3>
                  <div class="readmore-link">
                    <a href="{{ cust_prog_url }}">Read More <i class="fal fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
     </div>
  </div>
  {% endif %}
{% endblock %}