{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
{% if news_list %}
  <div class="section sec-happening">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 text-highlighted">What's happening?</h2>
        </div>
        
        {% for news in news_list %}
        <div class="col-12 col-lg-4 d-flex">
          <div class="whh-text">
            <span class="event-date text-uppercase">{{ news.news_date }}</span>
            <h4>{{ news.title }}</h4>
            <p class="d-none d-md-block">{{ news.body_full }}</p>
            <div class="readmore-link">
              <a href="{{ news.news_url }}">Read More <i class="fal fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="whh-img" style="background-image: url({{ news.news_image.url }});"></div>
        </div>
        {% endfor %}

        <div class="col-12">
          <div class="interested-more interested-wb d-flex justify-content-between">
            <span class="event-interested"><a href="#">Interested in more news?</a></span>
            <span class="show-all-events">
              <a href="/news" class="icon-right">
                <i class="fal fa-plus-circle"></i>
                View all news
              </a>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endif %}
{% endblock %}