{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
{% if financing_accordion_title %}
<div class="sec-left-right-text sec-admissions-lr-text mb-5">
  <div class="container">
    <div class="row sec-financing-row">
      <div class="col-3">
        <h4>{{ financing_accordion_title.0.value | raw }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text sec-accordion-text">
          <div class="accordion" id="accordionFinancing">

          {% for accord in finance_accordions %}
            <div class="accordion-text">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#financing{{ accord.accord_count }}" aria-expanded="{{ (accord.accord_count == 1) ? 'true' : 'false' }}" aria-controls="financing{{ accord.accord_count }}">{{ accord.block_title.0.value }}<span><i class="fal fa-plus-circle"></i><i class="fal fa-minus-circle"></i></span>
                </button>
              <div id="financing{{ accord.accord_count }}" class="collapse {{ (accord.accord_count == 1) ? 'show' : '' }}" data-parent="#accordionFinancing">
                  <div class="accordion-body">
                    {{ accord.block_content|raw }}
                  </div>
              </div>
            </div>
          {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}