{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
<div id="leadership" class="section sec-leadership" style="background-color: #F2F4F8;">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h2 class="h1 text-highlighted">Leadership & Department Heads</h2>
      </div>
      <div class="col-12">
        <div class="row">

          {% for leaders in leaders_department_heads %}
          <div class="col-md-6 col-lg-3">
            <div class="heads-image">
              <img src="{{ leaders.leader_image.url }}" alt="{{ leaders.leader_image.alt }}" />
            </div>
            <h6 class="head-name">{{ leaders.title }}</h6>
            <h6 class="head-desgination">{{ leaders.designation }}</h6>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}