{# All menu and submenu items #}

<a class="m-logo" href="{{ url('<front>') }}" style="background-image: url('themes/custom-themes/hec/assets/images/hec-logo.svg');"></a>
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav ml-auto">
    {% else %}
      <ul class="dropdown-menu" aria-labelledby="menulink01">
    {% endif %}
    {% for item in items %}
      {% if item.below %}
        {% if menu_level == 0 %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="text-uppercase nav-link dropdown-toggle" role="button" id="menulink01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="position-relative">{{ item.title }}</span><i class="fal fa-chevron-right"></i></a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </li>
        {% else %}
          <li class="nav-item">
          <a data-scroll class="text-uppercase nav-link" href="{{ item.url }}"><span class="position-relative">{{ item.title }}</span></a>
          </li>
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      {% else %}
        <li class="{{ (menu_level == 0) ? 'nav-item' : 'dropdown-item p-lg-0' }} {{ (item.title == 'Contact') ? 'd-flex align-items-center after-none' : '' }}">
          <a data-scroll class="text-uppercase nav-link {{ (item.title == 'Contact') ? 'btn' : '' }}" href="{{ item.url }}"><span class="position-relative">{{ item.title }}</span></a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}