{{ attach_library('classy/node') }}
<main class="site-main">
{% set base_url = render_var(url('<front>'))  %}
  <div class="sec-home-banner sec-sub-home-banner sec-sub-long-bg sec-degree-banner sec-sub-half-bg mobile-full-banner">
    {% if banner_images_val %}
      <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container position-relative">
      <div class="row">
        <div class="col col-12">
          <div class="banner-content text-center mt-5">
            {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-3 col-md-3">
          <div class="title-text">
            <h1 class="h2">{{ node.title.value|raw }}</h1>
          </div>
        </div>
        <div class="col-7 d-none d-lg-block">
          <div class="sub-text sub-long-text">
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
    <div class="hec-page-title">
    </div>
  </div>
  <div class="sec-degree-link d-lg-none">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <div class="select-link d-lg-none">
            <select class="form-control" id="sel1" onchange="javascript:handleSelect(this)">
              {% for programs in programs_list %}
                <option value="{{ programs.url }}">{{ programs.title }}</option>
              {% endfor %}
            
            </select>
            <i class="fal fa-chevron-down"></i>
          </div>

          {% for programs in programs_list %}
          <div class="readmore-link d-none d-lg-inline-block">
            <a href="{{ programs.url }}">{{ programs.title }} <i class="fal fa-chevron-right"></i></a>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <div class="sec-banner-text-mobile d-lg-none">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sub-text sub-long-text">
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>	