{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ page.header }}

<main class="site-main">
  <div class="sticky-button">
    <ul>
      {% if download_brochure_link %}
      <li>
        <a style="background-image: url({{ url('<front>') }}themes/custom-themes/hec/assets/images/specialized-masters-degree/brochure.svg);" class="brochure-btn" href="{{ download_brochure_link }}">DOWNLOAD BROCHURE</a>
      </li>
      {% endif %}

      {% if apply_now_link %}
      <li>
        <a style="background-image: url({{ url('<front>') }}themes/custom-themes/hec/assets/images/specialized-masters-degree/bag.svg);" class="apply-btn" href="{{ apply_now_link }}">apply now</a>
      </li>
      {% endif %}

      <li>
        <a style="background-image: url({{ url('<front>') }}themes/custom-themes/hec/assets/images/specialized-masters-degree/call.svg);" class="contact-btn" href="/contact">contact us</a>
      </li>
    </ul>
  </div>
  {% set base_url = render_var(url('<front>'))  %}
  <div class="sec-home-banner sec-sub-home-banner sec-sub-long-bg sec-degree-banner">

    {% if banner_images_val %}
      <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="container position-relative">
      <div class="row">
        <div class="col col-12">
          <div class="banner-content text-center mt-5">
            {% if site_logo %}
              {% set logo_url = base_url|render~site_logo %}
              <a class="left-sidebar-logo" href="{{ path('<front>') }}">
                  <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-3">
          <div class="title-text">
            <h1 class="h2">{{ node.title.value|raw }}</h1>
          </div>
        </div>

        <div class="col-4 d-none d-lg-block">
          <div class="sub-text">
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      
        <div class="col-5 d-none d-lg-block">
          <div class="sub-text-info">
            <ul>
            {% if node.field_language.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-comments-alt"></i></span>
                <span>Language:<strong>{{ node.field_language.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_next_intake.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-calendar"></i></span>
                <span>Next intake:<strong>{{ node.field_next_intake.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_format.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-sun"></i></span>
                <span>Format:<strong>{{ node.field_format.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_locations.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-map"></i></span>
                <span>Locations:<strong>{{ node.field_locations.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_length.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-clock"></i></span>
                <span>LENGTH:<strong>{{ node.field_length.0.value|raw }}</strong></span>
              </li>
            {% endif %}
            
            {% if node.field_tuition_fees.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-coins"></i></span>
                <span>TUITION FEES:<strong>{{ node.field_tuition_fees.0.value|raw }}</strong></span>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="hec-page-title">
    </div>
  </div>

  {% if node.field_hide_programs_list.0.value == '0' %}
  <div class="sec-degree-link">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
        
          <div class="select-link d-lg-none">
            <select class="form-control" id="sel1" onchange="javascript:handleSelect(this)">
              {% for programs in programs_list %}
                <option value="{{ programs.program_url }}">{{ programs.title }}</option>
              {% endfor %}
            </select>
            <i class="fal fa-chevron-down"></i>
          </div>
          
          {% for programs in programs_list %}
            <div class="readmore-link d-none d-lg-inline-block">
              <a href="{{ programs.program_url }}">{{ programs.title }} <i class="fal fa-chevron-right"></i></a>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="sec-banner-text-mobile d-lg-none">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sub-text">
            {{ node.field_mobile_view_description.0.value|raw }}
          </div>
        </div>
        <div class="col-12">
          <div class="sub-text-info">
            <ul>
            {% if node.field_language.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-comments-alt"></i></span>
                <span>Language:<strong>{{ node.field_language.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_next_intake.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-calendar"></i></span>
                <span>Next intake:<strong>{{ node.field_next_intake.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_format.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-sun"></i></span>
                <span>Format:<strong>{{ node.field_format.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_locations.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-map"></i></span>
                <span>Locations:<strong>{{ node.field_locations.0.value|raw }}</strong></span>
              </li>
            {% endif %}

            {% if node.field_length.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-clock"></i></span>
                <span>LENGTH:<strong>{{ node.field_length.0.value|raw }}</strong></span>
              </li>
            {% endif %}
            
            {% if node.field_tuition_fees.0.value %}
              <li>
                <span class="subinfo-icon"><i class="fal fa-coins"></i></span>
                <span>TUITION FEES:<strong>{{ node.field_tuition_fees.0.value|raw }}</strong></span>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if node.body.value %}
  <div class="sec-main-text">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ node.body.value|raw }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

<div class="sec-left-right-text">
  <div class="container">

    {% if node.field_block_1_title.0.value %}
    <div class="row sec-programCurriculum-row">
      <div class="col-3">
        <h4>{{ node.field_block_1_title.0.value|raw }}</h4>
      </div>
      <div class="col-8">
        <div class="sec-right-text right-text-ul">
          {{ node.field_block_1_content.0.value|raw }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_2_title.0.value %}
    <div class="row sec-videoWidget-row">
      <div class="col-3">
        <h4>{{ node.field_block_2_title.0.value|raw }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text right-text-video">
          {{ node.field_block_2_content.0.value|raw }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_3_title.0.value %}
    <div class="row sec-financing-row">
      <div class="col-3">
        <h4>{{ node.field_block_3_title.0.value|raw }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text">
          {{ node.field_block_3_content.0.value|raw }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_4_title.0.value %}
    <div class="row sec-onlineApp-row">
      <div class="col-3">
        <h4>{{ node.field_block_4_title.0.value|raw }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text">
          <div class="row">
            {{ node.field_block_4_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_5_title.0.value %}
    <div class="row sec-intakeDate-row">
      <div class="col-3">
        <h4>{{ node.field_block_5_title.0.value|raw }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text right-text-table">
          {{ node.field_block_5_content.0.value|raw }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_6_title.value %}
    <div class="row sec-participanProfile-row">
      <div class="col-3">
        <h4>{{ node.field_block_6_title.value }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text">
          <div class="row">
            <div class="col-6">
              <ul class="nav nav-tabs" id="participan" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="nationalities-tab" data-toggle="tab" href="#nationalities" role="tab" aria-controls="nationalities" aria-selected="true">{{ node.field_section_1_title.value }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="agegroup-tab" data-toggle="tab" href="#agegroup" role="tab" aria-controls="agegroup" aria-selected="false">{{ node.field_section_2_title.value }}</a>
                </li>
              </ul>
              <div class="tab-content" id="participanContent">
                <div class="tab-pane fade show active" id="nationalities" role="tabpanel" aria-labelledby="nationalities-tab">
                  <h2>{{ node.field_section_1_title.value }}</h2>
                  <div class="d-flex justify-content-between">
                    <div class="tab-img">
                      {% set sec1_img = base_url|trim('/', 'right')~file_url(node.field_section_1_image.entity.uri.value) %}
                      <img src="{{ sec1_img }}" alt="{{ node.field_section_1_image.entity.alt.value }}">
                    </div>
                    <div class="tab-img-info">
                      {% for graph_info in node.field_section_1_data.value %}
                        <div class="tab-info"><span style="background-color:{{ bamboo_render_field('field_label_color', 'paragraph', graph_info['target_id']) }};">&nbsp;</span>&nbsp; {{ bamboo_render_field('field_label', 'paragraph', graph_info['target_id']) }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="agegroup" role="tabpanel" aria-labelledby="agegroup-tab">
                  <h2>{{ node.field_section_2_title.value }}</h2>
                  <div class="d-flex justify-content-between">
                    <div class="tab-img">
                      {% set sec2_img = base_url|trim('/', 'right')~file_url(node.field_section_2_image.entity.uri.value) %}
                      <img src="{{ sec2_img }}" alt="{{ node.field_section_2_image.entity.alt.value }}">
                    </div>
                    <div class="tab-img-info">
                      {% for graph_info in node.field_section_2_data.value %}
                        <div class="tab-info"><span style="background-color:{{ bamboo_render_field('field_label_color', 'paragraph', graph_info['target_id']) }};">&nbsp;</span>&nbsp; {{ bamboo_render_field('field_label', 'paragraph', graph_info['target_id']) }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <ul class="nav nav-tabs" id="participan2" role="tablist2">
                <li class="nav-item">
                  <a class="nav-link active" id="position-tab" data-toggle="tab" href="#position" role="tab" aria-controls="position" aria-selected="true">{{ node.field_section_3_title.value }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="industry-tab" data-toggle="tab" href="#industry" role="tab" aria-controls="industry" aria-selected="false">{{ node.field_section_4_title.value }}</a>
                </li>
              </ul>
              <div class="tab-content" id="participan2Content">
                <div class="tab-pane fade show active" id="position" role="tabpanel" aria-labelledby="position-tab">
                  <h2>{{ node.field_section_3_title.value }}</h2>
                  <div class="d-flex justify-content-between">
                    <div class="tab-img">
                      {% set sec3_img = base_url|trim('/', 'right')~file_url(node.field_section_3_image.entity.uri.value) %}
                      <img src="{{ sec3_img }}" alt="{{ node.field_section_3_image.entity.alt.value }}">
                    </div>
                    <div class="tab-img-info">
                      {% for graph_info in node.field_section_3_data.value %}
                        <div class="tab-info"><span style="background-color:{{ bamboo_render_field('field_label_color', 'paragraph', graph_info['target_id']) }};">&nbsp;</span>&nbsp; {{ bamboo_render_field('field_label', 'paragraph', graph_info['target_id']) }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="industry" role="tabpanel" aria-labelledby="industry-tab">
                  <h2>{{ node.field_section_4_title.value }}</h2>
                  <div class="d-flex justify-content-between">
                    <div class="tab-img">
                      {% set sec4_img = base_url|trim('/', 'right')~file_url(node.field_section_4_image.entity.uri.value) %}
                      <img src="{{ sec4_img }}" alt="{{ node.field_section_4_image.entity.alt.value }}">
                    </div>
                    <div class="tab-img-info">
                      {% for graph_info in node.field_section_4_data.value %}
                        <div class="tab-info"><span style="background-color:{{ bamboo_render_field('field_label_color', 'paragraph', graph_info['target_id']) }};">&nbsp;</span>&nbsp; {{ bamboo_render_field('field_label', 'paragraph', graph_info['target_id']) }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_7_title.0.value %}
    <div class="row sec-testimonials-row">
      <div class="col-3">
        <h4>{{ node.field_block_7_title.0.value|raw }}</h4>
      </div>
      <div class="col-9">
        <div class="sec-right-text sec-right-slider">
          {{ node.field_block_7_content.0.value|raw }}
          <div class="w-100">
            <div class="owl-carousel testimonials-slider">

            {% for testimonial in testimonials %}
              <div class="testimonials-slide">
                <div class="testimonials-text">
                  {{ testimonial.content|raw }}
                </div>
                <div class="testimonials-img">
                  <div class="testimonials-img-left">
                    <img src="{{ testimonial.image.url }}" alt="{{ testimonial.image.alt }}">
                  </div>
                  <div class="testimonials-img-right">
                    <h6>{{ testimonial.title.0.value }}</h6>
                    <span>{{ testimonial.qualification }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if node.field_block_8_title.0.value %}
    <div class="row sec-talkto-row">
      <div class="col-3">
        <h4>{{ node.field_block_8_title.0.value|raw }}</h4>
      </div>
      <div class="col-9">
        {{ node.field_block_8_content.0.value|raw }}
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
