{{ attach_library('classy/node') }}
<main class="site-main">
{% set base_url = render_var(url('<front>'))  %}
  <div  id="overview" class="sec-home-banner">
    {% if banner_images_val %}
      <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container position-relative">
      <div class="row">
        <div class="col col-12">
          <div class="banner-content banner-content-left">
		  	    {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="banner-content-left-logo" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
            
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section sec-banner-bottom">
    <div class="container">
      <div>
        {{ node.body.value|raw }}
      </div>
    </div>
  </div>
</main>	