{{ attach_library('classy/node') }}
<main class="site-main">

  <div  class="sec-sitemap">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 sec-sitemap-left">
          <div class="sec-sitemap-left-inner">
            {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="left-sidebar-logo" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
          </div>
        </div>

        <div class="col-lg-8 offset-lg-4 sec-sitemap-right">
          <div class="sec-sitemap-right-inner">
            <h2 class="h1 medium-title">{{ node.title.value|raw }}</h2>
            <div class="row sitemap-block-wrap">

              {% for links in menu_links %}
              <div class="col-lg-6 sitemap-block order-1">
                {{ links.value|raw }}
              </div>
              {% endfor %}

              <div class="col-lg-6 social-icons order-5">
                <h6>Social Media</h6>
                <ul>
                  {% if linkedin %}
                  <li><a href="{{ linkedin }}"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                  {% endif %}
                  {% if youtube %}
                  <li><a href="{{ youtube }}"><i class="fab fa-youtube"></i></a> Youtube</li>
                  {% endif %}
                  {% if facebook %}
                  <li><a href="{{ facebook }}"><i class="fab fa-facebook"></i> Facebook</a></li>
                  {% endif %}
                  {% if twitter %}
                  <li><a href="{{ twitter }}"><i class="fab fa-twitter"></i> Twitter</a></li>
                  {% endif %}
                  {% if instagram %}
                  <li><a href="{{ instagram }}"><i class="fab fa-instagram"></i> Instagram</a></li>
                  {% endif %}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>