{{ attach_library('classy/node') }}
<script>
	var limit = {{ careers_limit }};
	var no_of_page = {{ no_of_page }};
	var page = 1;
  var base_url = '{{ site_url }}';
</script>

<main class="site-main">
  <div  class="sec-careers overflow-hidden">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 sec-sitemap-left">
            <div class="sec-sitemap-left-inner">
                {% if site_logo %}
                    {% set logo_url = base_url|render~site_logo %}
                    <a class="left-sidebar-logo" href="{{ path('<front>') }}">
                        <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                    </a>
                {% endif %}
                <div class="careers-tagline mb-0">
                  <h2>{{ node.title.value|raw }}</h2>
                </div>
                {{ node.body.value|raw }}
            </div>
        </div>

      {% if career_data %}
        <div class="col-lg-8 offset-lg-4 sec-sitemap-right">
            <div class=" sec-sitemap-right-inner">
                <h2 class="h1 medium-title">The right career <br class="d-none d-lg-block"/>choice? <br class="d-block d-lg-none"/>It’s the one <br class="d-none d-lg-block"/>that resembles you</h2>

                <div class="row careers-block-wrap" id="careers-listing">
                  {% for career in career_data %}
                    <div class="col-md-4 careers-block-col">
                        <div class="careers-block">
                            <div class="job-sub-title">{{ career.location }}</div>
                            <h6 class="job-title">{{ career.title }}</h6>
                            <a href="{{ career.career_pdf.url }}" target="_blank"><i class="fal fa-file-pdf"></i> Download</a>
                        </div>
                    </div>
                  {% endfor %}
                </div>

                <div class="text-center col-12 d-flex">
                  <div class="loader mt-3"></div>
                  
                  {% if total_career_records == 0 %}
                      <div class="noval alert alert-danger w-100 mt-5" id="norecordfound">No Record Found</div>
                  {% endif %}            
                </div>

                <div class="interested-more show-more-block d-flex justify-content-between">
                    <span class="event-interested">Show more job  opportunities?</span>
                    <span class="show-all-events">
                      <a href="javascript:void(0)" class="icon-right press-loading-example-btn" onclick="LoadMoreCareers();"><i class="fal fa-plus-circle"></i> Show more</a>
                    </span>
                </div>
            </div>
          {% else %}
            <div class="col-lg-8 offset-lg-4 sec-sitemap-right">
                <div class="sec-sitemap-right-inner">
                    {{ node.field_no_openings_text_career.0.value|raw }}
                </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

</main>