{{ attach_library('classy/node') }}
<script>
	var limit = {{ resources_limit }};
	var no_of_page = {{ no_of_page }};
	var page = 1;
  var base_url = '{{ site_url }}';
</script>

<main class="site-main">

  <div class="section sec-contact-banner-bootom-text d-block d-md-none">
    <div class="container">
      {{ node.field_banner_content.0.value|raw }}
    </div>
  </div>

  <div  class="section sec-resources" style="background-color:#F2F4F8;">
    <div class="container">

        <h2 class="h1 text-highlighted">Resources</h2> 

        <div class="filter-search-wrap d-lg-flex align-items-lg-center justify-content-lg-between">

          <div class="dropdown d-block d-md-none">
            <button id="dLabel" class="btn  dropdown-select resources-dropdown-select" type="button" data-toggle="dropdown">
              Select
              <span class="caret"></span>
            </button>
            <ul id="resourcesFiltersMobile" class="dropdown-menu resources-dropdown-menu" aria-labelledby="dLabel">
              
              <li class="btn filter-btn active " data-cat_filter="" selected><i class="fal fa-photo-video"></i> - ALL <i class="fal fa-chevron-down"></i></li>
              
              {% for key,value in resources_cat %}
                <li class="btn filter-btn" data-cat_filter="{{ key }}"><i class="fal fa-{{ (value == 'Case Studies') ? 'book' : '' }}{{ (value == 'Videos') ? 'video' : '' }}{{ (value == 'Resources') ? 'file' : '' }}"></i> - {{ value }} <i class="fal fa-chevron-down"></i></li>
              {% endfor %}

            </ul>
          </div>
            
          <div id="resourcesFiltersDesktop" class="button-group button-group-with-icons d-none d-md-block" data-aos="fade-up" data-aos-duration="1500">
            <button class="btn filter-btn active" data-cat_filter=""><i class="fal fa-photo-video"></i> - ALL <i class="fal fa-chevron-right"></i></button>
            
            {% for key,value in resources_cat %}
            <button class="btn filter-btn" data-cat_filter="{{ key }}"><i class="fal fa-{{ (value == 'Case Studies') ? 'book' : '' }}{{ (value == 'Videos') ? 'video' : '' }}{{ (value == 'Resources') ? 'file' : '' }}"></i> - {{ value }} <i class="fal fa-chevron-right"></i></button>
            {% endfor %}

          </div>

          <div class="search-wrap d-none d-lg-block">
            <input type="search" class="form-control" id="inputSearch" placeholder="SEARCH" aria-label="SEARCH" name="search" value="">
            <button class="search_data"><i class="fal fa-search"></i></button>
          </div>
        </div> 

        <div id="resources" class="resources-listing row resources-item-wrap">

          {% for resource in resources_data %}

            {% if resource.resources_type == 'video' %}
            <div class="col-md-6 col-lg-6 col-xl-4 resources-item videos">
              <div class="resources-item-container" style="background-color: {{ resource.resources_bg_color }};">
                  <div class="resource-type"><i class="fal fa-video"></i> {{ resource.resources_type }}</div>
                  <h4 class="resource-title">{{ resource.title }}</h4>
                  <p>{{ resource.body_full }}</p>
                  <div class="readmore-link video-link">
                      <a href="{{ resource.resources_url }}"><i class="fal fa-play-circle"></i></a>
                  </div>
              </div>
            </div>
            {% endif %}

            {% if resource.resources_type == 'links' %}
            <div class="col-md-6 col-lg-6 col-xl-4 resources-item case-studies">
              <div class="resources-item-container" style="background-image: url('{{ resource.resources_image.url }}');">
                  <div class="resource-type"><i class="fal fa-link"></i> {{ resource.resources_type }}</div>
                  <h4 class="resource-title">{{ resource.title }}</h4>
                  <p>{{ resource.body_full }}</p>
                  <div class="readmore-link">
                      <a href="{{ resource.resources_url }}">Read More <i class="fal fa-chevron-right"></i></a>
                    </div>
              </div>
            </div>
            {% endif %}

            {% if resource.resources_type == 'files' %}
            <div class="col-md-6 col-lg-6 col-xl-4 resources-item resources">
              <div class="resources-item-container" style="background-color: {{ resource.resources_bg_color }};">
                  <div class="resource-type {{ (resource.resources_bg_color == '#BE955A') ? 'resource-type-white': '' }}"><i class="fal fa-file"></i> {{ resource.resources_type }}</div>
                  <h4 class="resource-title {{ (resource.resources_bg_color == '#BE955A') ? 'resource-title-blue': '' }}">{{ resource.title }}</h4>
                  <p>{{ resource.body_full }}</p>
                  <div class="readmore-link {{ (resource.resources_bg_color == '#BE955A') ? 'readmore-link-blue': '' }}">
                      <a href="{{ resource.resources_url }}">Read More <i class="fal fa-chevron-right"></i></a>
                    </div>
              </div>
            </div>
            {% endif %}

          {% endfor %}

        </div>

        <div class="resources_cat_filter" data-resources_cat_filter="" data-resources_search_keyword=""></div>

        <div class="text-center col-12 d-flex">
            <div class="loader"></div>
            
            {% if total_resources_records == 0 %}
                <div class="noval alert alert-danger w-100 mb-5" id="norecordfound">No Record Found</div>
            {% endif %}            
        </div>

        {% if total_resources_records > RESOURCES_LIMIT %}
        <div class="interested-more show-more-block d-flex justify-content-between">
          <span class="event-interested">Interested in more content?</span>
          <span class="show-all-events">
              <a href="javascript:void(0)" class="icon-right press-loading-example-btn" onclick="LoadMoreResources();"><i class="fal fa-plus-circle"></i>Show more contents</a>
          </span>
        </div>
        {% endif %}

    </div>
  </div>

</main>