{{ attach_library('classy/node') }}
<script>
	var limit = {{ news_limit }};
	var no_of_page = {{ no_of_page }};
	var page = 1;
  var base_url = '{{ site_url }}';
</script>

<main class="site-main">
{% set base_url = render_var(url('<front>'))  %}
  <div  id="overview" class="sec-home-banner sec-news-banner">
    {% if banner_images_val %}
      <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container position-relative">
      <div class="row">
        <div class="col col-12">
          <div class="banner-content banner-content-left">
            {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="banner-content-left-logo" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
            {{ node.field_banner_content.0.value|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section sec-happening sec-latestreleases">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 text-highlighted">Latest Releases</h2>
        </div>
        <div class="col-12">
          <div class="filter-links d-flex justify-content-between">
            <span class="filterlink">
              <div class="dropdown d-inline-block">
                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-photo-video leftsvg"></i>- <span class="selected-cat">ALL</span><i class="fal fa-chevron-right rightsvg"></i></a>
              </div>
              <div class="dropdown d-inline-block">
                <a class="datelink dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-calendar leftsvg"></i>- <span class="selected-date">DATE</span><i class="fal fa-chevron-right rightsvg"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                  {% for key,value in news_dates_filter %}
                    <a class="dropdown-item news_date" data-news_date_txt="{{ value }}" data-news_dates="{{ key }}" href="javascript:void(0)">{{ value }}</a>
                  {% endfor %}
                </div>  
              </div>
            </span>
            <span class="show-all-events d-none d-md-inline-block">
              <span class="right-date"></span>
            </span>
          </div>
        </div>

        <div id="news-listing" class="row">

          {% for news in news_data %}
          <div class="col-12 col-lg-4 d-flex">
            <div class="whh-text">
              <span class="event-date text-uppercase">{{ news.news_date }}</span>
              <h4>{{ news.title }}</h4>
              <p class="d-none d-md-block">{{ news.body_full }}</p>
              <div class="readmore-link">
                <a href="{{ news.news_url }}">Read More <i class="fal fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="whh-img" style="background-image: url({{ news.news_image.url }});"></div>
          </div>
          {% endfor %}

        </div>

        <div class="news_date_cat_filter" data-news_date_filter=""></div>

        <div class="text-center col-12 d-flex">
            <div class="loader"></div>
            
            {% if total_news_records == 0 %}
                <div class="noval alert alert-danger w-100 mb-5" id="norecordfound">No Record Found</div>
            {% endif %}            
        </div>
        
        {% if total_news_records > NEWS_LIMIT %}
        <div class="col-12">
          <div class="interested-more interested-wb d-flex justify-content-between">
            <span class="event-interested"><a href="#">Interested in more content?</a></span>
            <span class="show-all-events">
              <a href="javascript:void(0)" class="icon-right press-loading-example-btn" onclick="LoadMoreNews();">
                <i class="fal fa-plus-circle"></i>
                Show more contents
              </a>
            </span>
          </div>
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</main>	