{{ attach_library('classy/node') }}
<script>
	var limit = {{ events_limit }};
	var no_of_page = {{ no_of_page }};
	var page = 1;
  var base_url = '{{ site_url }}';
</script>

<main class="site-main">
{% set base_url = render_var(url('<front>'))  %}
  <div class="sec-home-banner sec-sub-home-banner sec-events-banner">
    {% if banner_images_val %}
      <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container position-relative">
      <div class="row">
        <div class="col col-12">
          <div class="banner-content text-center mt-5">
            {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-3">
          <div class="title-text">
            <h1 class="h2">{{ node.title.value|raw }}</h1>
          </div>
        </div>
        <div class="col-4 d-none d-lg-block">
          <div class="sub-text">
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
    <div class="hec-page-title">
    </div>
  </div>
  <div class="sec-banner-text-mobile d-lg-none">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sub-text sub-long-text sub-text-grey">
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sec-events-lr-text mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <h4>Categories</h4>
          <div class="checkbox-section">
            <div class="checkbox-div">

              {% for key,value in events_cat %}
                <div class="w-100">
                  <label class="checkbox-container">{{ value }}
                    <input type="checkbox" value="{{ key }}" class="events_filters">
                    <span class="checkmark"></span>
                  </label>
                </div>
              {% endfor %}
              
            </div>
            <div class="clear-filters">
              <a class="clear-link clear_events_filters" href="javascript:void(0)"><i class="fal fa-filter"></i> CLEAR FILTERS</a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="sec-upevents pt-2">
              <div class="row">
                {% if events_data %}

                <div id="events-listing">
                {% for event in events_data %}
                <div class="col-12">
                  <div class="events-text">
                    <div class="events-calendar d-flex justify-content-between">
                      <span class="event-date text-uppercase">{{ event.events_date}}</span>
                      <span class="add-to-calendar d-none d-md-inline-block">
                        <a href="#" class="dropdown-toggle line-bottom" role="button" id="dropdownMenuLink{{ event.nid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fal fa-calendar"></i>
                          ADD TO CALENDAR
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ event.nid }}">
                          <a class="dropdown-item" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text={{ event.title }}&amp;dates={{ event.events_start_date }}/{{ event.events_end_date }}&amp;details={{ event.body_full }}&amp;location={{ event.event_location }}&amp;sprop=&amp;sprop=name:" target="_blank" rel="nofollow">Google Calendar</a>
                          <a class="dropdown-item" href="http://calendar.yahoo.com/?v=60&view=d&type=20&title={{ event.title }}&st={{ event.events_start_date }}&dur=&desc={{ event.body_full }}&in_loc={{ event.event_location }} target="_blank" rel="nofollow">Yahoo! Calendar</a>
                          <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR" target="_blank" rel="nofollow">iCal Calendar</a>
                          <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR" target="_blank" rel="nofollow">Outlook Calendar</a>
                          <a class="dropdown-item" href="https://addtocalendar.com/atc/ical?utz=330&uln=en-US&vjs=1.5&e[0][date_start]={{ event.events_start_date }}&e[0][date_end]={{ event.events_end_date }}&e[0][title]={{ event.title }}&e[0][description]={{ event.body_full }}" target="_blank" rel="nofollow">Apple Calendar</a>
                        </div>
                      </span>
                    </div>
                    <div class="events-name">
                      <h4>{{ event.title }}</h4>
                    </div>
                    <div class="events-time">
                      <span class="e-time d-block">
                        <i class="fal fa-clock"></i>
                        {{ event.event_time}}
                      </span>
                      <span class="e-loc d-block">
                        <a target="_blank" href="{{ event.event_map }}"><i class="fal fa-map-marker"></i>
                          {{ event.event_location }}</a>
                      </span>
                    </div>
                    <p class="event-content d-none d-md-block">
                      {{ event.body_full|raw }}
                    </p>
                    <a href="#" class="dropdown-toggle line-bottom d-md-none more-details" role="button" id="dropdownMenuLink{{ event.nid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fal fa-calendar"></i>
                      ADD TO CALENDAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ event.nid }}">
                        <a class="dropdown-item" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text={{ event.title }}&amp;dates={{ event.events_start_date }}/{{ event.events_end_date }}&amp;details={{ event.body_full }}&amp;location={{ event.event_location }}&amp;sprop=&amp;sprop=name:" target="_blank" rel="nofollow">Google Calendar</a>
                        <a class="dropdown-item" href="http://calendar.yahoo.com/?v=60&view=d&type=20&title={{ event.title }}&st={{ event.events_start_date }}&dur=&desc={{ event.body_full }}&in_loc={{ event.event_location }} target="_blank" rel="nofollow">Yahoo! Calendar</a>
                        <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR" target="_blank" rel="nofollow">iCal Calendar</a>
                        <a class="dropdown-item" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/example.html%0ADTSTART:{{ event.events_start_date }}%0ADTEND:{{ event.events_end_date }}%0ASUMMARY:{{ event.title }}%0ADESCRIPTION:{{ event.body_full }}%0ALOCATION:{{ event.event_location }}%0AEND:VEVENT%0AEND:VCALENDAR" target="_blank" rel="nofollow">Outlook Calendar</a>
                        <a class="dropdown-item" href="https://addtocalendar.com/atc/ical?utz=330&uln=en-US&vjs=1.5&e[0][date_start]={{ event.events_start_date }}&e[0][date_end]={{ event.events_end_date }}&e[0][title]={{ event.title }}&e[0][description]={{ event.body_full }}" target="_blank" rel="nofollow">Apple Calendar</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
                </div>

                <div class="events-cat-filter d-none" data-events_cat_filter=""></div>

                <div class="text-center col-12 d-flex">
                  <div class="loader mt-3"></div>
                  
                  {% if total_events_records == 0 %}
                      <div class="noval alert alert-danger w-100 mb-5" id="norecordfound">No Record Found</div>
                  {% endif %}            
                </div>
                
                <div class="col-12">
                  <div class="interested-more d-flex justify-content-between">
                    <span class="event-interested"><a href="#">Interested in more content?</a></span>
                    <span class="show-all-events">
                      <a href="javascript:void(0)" class="icon-right press-loading-example-btn" onclick="LoadMoreEvents();">
                        <i class="fal fa-plus-circle"></i>
                        Show more contents
                      </a>
                    </span>
                  </div>
                </div>
                {% endif %}

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>