{{ attach_library('classy/node') }}
<script>
	var limit = {{ faculty_limit }};
	var no_of_page = {{ no_of_page }};
	var page = 1;
  var base_url = '{{ site_url }}';
</script>

<main class="site-main">
{% set base_url = render_var(url('<front>'))  %}
<div class="sec-home-banner sec-sub-home-banner">
  {% if banner_images_val %}
    <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
    </div>
  {% endif %}
  <div class="container position-relative">
    <div class="row">
      <div class="col col-12">
        <div class="banner-content text-center mt-5">
            {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-3">
        <div class="title-text">
          <h1 class="h2">{{ node.title.value|raw }}</h1>
        </div>
      </div>  
    </div>
  </div>
  <div class="hec-page-title"></div>
</div>
<div class="section sec-professors">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h1 text-highlighted mb-0">Emiratus Professors</h2>
      </div>

      <div id="faculty-listing" class="row w-100">
        {% for faculty in faculty_data %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 justify-content-center">
            <div class="professor text-center">
              <div class="professor-img">
                <img src="{{ faculty.faculty_image.url }}" alt="{{ faculty.faculty_image.alt }}">
              </div>
              <div class="professor-info">
                <h6 class="text-uppercase">{{ faculty.title }}<span class="professor-title d-block w-100">{{ faculty.designation }}</span></h6>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="text-center col-12 d-flex">
        <div class="loader"></div>
        
        {% if total_faculty_records == 0 %}
            <div class="noval alert alert-danger w-100 mt-5" id="norecordfound">No Record Found</div>
        {% endif %}            
      </div>

      <div class="col-12">
        <div class="interested-more interested-wb d-flex justify-content-between">
          <span class="event-interested"><a href="#">Interested at more members?</a></span>
          <span class="show-all-events">
            <a href="javascript:void(0)" class="icon-right press-loading-example-btn" onclick="LoadMoreFaculty();">
              <i class="fal fa-plus-circle"></i>
              Show more members
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</main>