{{ attach_library('classy/node') }}
<main class="site-main">
{% set base_url = render_var(url('<front>'))  %}
  <div class="sec-home-banner sec-sub-home-banner sec-sub-half-bg sec-only-title-banner contact-page-banner">
    {% if banner_images_val %}
      <div class="owl-carousel top-banner-slider owl-loaded owl-drag">
        {% for banner_data in banner_images_val %}
          <div class="top-slide" style="background-image: url({{ banner_data.banner }}), url({{ banner_data.mob_banner }})"></div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container position-relative">
      <div class="row">
        <div class="col col-12">
          <div class="banner-content text-center mt-5">
            {% if site_logo %}
                {% set logo_url = base_url|render~site_logo %}
                <a class="banner-content-left-logo" href="{{ path('<front>') }}">
                    <img src="{{ logo_url }}" alt="{{ 'Home'|t }}" />
                </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-3 col-md-3">
          <div class="title-text">
            <h1 class="h2">{{ node.title.value|raw }}</h1>
          </div>
        </div>
        <div class="col-4 d-none d-md-block">
          <div class="sub-text">
            {{ node.field_banner_content.0.value|raw }}
          </div>
        </div>
      </div>
    </div>
    <div class="hec-page-title">
    </div>
  </div>
  <div class="section sec-contact-banner-bootom-text d-block d-md-none">
    <div class="container">
      {{ node.field_banner_content.0.value|raw }}
    </div>
  </div>
  <div class="section sec-contact" style="background-color: #F2F4F8;">
    <div class="container-small">
      <div class="row">
        <div class="col-md-5">
          {{ node.body.value|raw }}
        </div>
        <div class="col-md-7">
            <div class="contact-map">
              {% set map_image = base_url|trim('/', 'right')~file_url(node.field_map_image.entity.uri.value) %}
              <a href="{{ node.field_map_link.0.value|raw }}" target="_blank">
                <img src="{{ map_image }}" alt="{{ node.field_map_image.entity.alt.value }}" />
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>	