{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  <header class="site-header {{node_type}}">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-toggle="collapse" data-target="#navbarNavMobile" aria-controls="navbarNavMobile" aria-expanded="false" aria-label="Toggle navigation">
      <span style="background-image: url({{ url('<front>') }}themes/custom-themes/hec/assets/images/menu.png);"></span>
    </button>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <div class="container-fluid">
        {{ content }}
      </div>
    </nav>
  </header>
{% endif %}
