/* ajax loader */
.loader {
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #003671;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.text-highlighted-regular {
    color: #003671;
    font-family: 'DIN-Regular', sans-serif;
}
.text-highlighted-light {
    color: #003671;
    font-family: 'DIN-Light', sans-seriff;
}
.dropdown-item.active, 
.dropdown-item:hover,
.dropdown-item:active, 
.dropdown-item:focus {
    background-color: transparent;
    color: #BE955A;
}


/* inner page banner start */
.sec-home-banner .banner-content-left {
    right: auto;
    max-width: 1180px;
    top: 0;
    transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
}
.banner-content-left-logo {
    max-width: 216px;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: auto;
}
.small-title {
    font-size: 14px;
    color: #BE955A;
}
.banner-content-left .small-title {
    margin-bottom: 60px;
}
.banner-content-left p {
    font-size: 42px;
    color: #fff;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: auto;
    font-family: 'DIN-Light', sans-serif;
}

html[dir="rtl"] .sec-home-banner .banner-content-left {
    right: 0;
    left: auto;
    align-items: flex-start;
}
/* inner page banner end */

/* about page start */
.sec-banner-bottom h1 {
    font-family: 'DIN-Light', sans-serif !important;
    font-weight: normal;
}
.author-info {
    margin-top: 55px;
    padding-top: 20px;
    position: relative;
}
.author-info:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #BE955A;
}
.author-name {
    color: #003671;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.author-position {
    text-transform: uppercase;
    margin: 0;
}
.message-section-content {
    padding-left: 60px;
}
.big-title {
    font-size: 110px;
    max-width: 1215px;
    line-height: 115%;
    font-family: 'DIN-Bold', sans-serif;
}
.our-mission-vision-block {
    margin-top: 172px;
}
.text-block {
    max-width: 540px;
    margin: 0 auto;
}
.our-mission-vision-block p {
    font-size: 36px;
    line-height: 50px;
    font-weight: normal;
    font-family: 'DIN-Light', sans-serif;
}
.head-name {
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 5px;
    color: #BE955A;
}
.head-desgination {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-family: 'DIN-Light', sans-serif;
}
.head-name,
.head-desgination {
    max-width: 292px;
}
.heads-image {
    width: 292px;
    height: 292px;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.heads-image:before {
    position: absolute;
    content: '';
    opacity: 0;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 100%;
    -webkit-transition: 0.4s cubic-bezier(0.3,0.58,0.55,1);
    transition: 0.4s cubic-bezier(0.3,0.58,0.55,1);
    border: 2px solid #BE955A;
}
.heads-image:hover:before {
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.heads-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.achievement-image {
    min-height: 148px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.achievement-title {
    color: #fff;
    text-align: center;
    margin: 40px 0 0;
    font-weight: normal;
    padding: 0 15px;
    font-family: 'DIN-Bold', sans-serif;
}
.sec-achievements {
    padding: 150px 0 130px;
    background-size: cover, 0;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
}
.owl-carousel-simple-nav .owl-nav button.owl-prev, 
.owl-carousel-simple-nav .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #BE955A;
    font-size: 68px;
    margin: -56px auto 0;
}
.owl-carousel-simple-nav .owl-nav button.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.owl-carousel-simple-nav .owl-nav button.owl-prev {
    left: -30px;
    right: auto;
}
.owl-carousel-simple-nav .owl-nav button.owl-next {
    right: -30px;
    left: auto;
}
body .owl-carousel .owl-dots {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    padding: 0;
}
body .owl-carousel button.owl-dot {
    width: 20px;
    height: 20px;
    border: 2px solid #BE955A;
    color: #fff;
    border-radius: 50%;
    background: transparent;
    font-size: 0;
    margin: 0 5px;
}
body .owl-carousel button.owl-dot.active,
body .owl-carousel button.owl-dot:hover,
body .owl-carousel button.owl-dot:focus {
    background-color: #BE955A;
}
.sec-facts-figures {
    padding: 150px 0 120px;
}
.sec-facts-figures h4 {
    font-family: 'DIN-Regular', sans-serif;
    color: #003671;
}
.sec-facts-figures .h1, 
.sec-facts-figures p {
    text-align: center;
    font-family: 'DIN-Light', sans-serif;
    font-weight: normal;
}
.sec-facts-figures .h1 {
    font-size: 68px;
    color: #003671;
}
.sec-facts-figures .h1:hover {
    color: #BE955A;
}
.sec-facts-figures p {
    margin: 0;
}
.figures-block:nth-child(n+4) {
    margin-top: 48px;
}
.figures-block {
    border-right: 1px solid #707070;
}
.figures-block:nth-child(3n) {
    border-right: none;
}
.sec-education-campuses {
    padding-bottom: 110px;
}
.campuse-block-row {
    margin: 0 -37px;
}
.campuse-block {
    display: flex;
    margin-top: 65px;
    padding: 0 37px;
}
.campuse-image {
    flex: 0 0 100px;
    max-width: 100px;
    margin-right: 15px;
}
.campuse-content {
    display: flex;
    flex-direction: column;
}
.campuse-content .text-highlighted {
    font-family: 'DIN-Regular', sans-serif;
    font-weight: normal;
    margin: 0 0 8px;
}
.campuse-content .readmore-link {
    margin-top: auto;
}
/* about page end */


/* custom programs page start */
.sec-banner-bottom h2 {
    line-height: 140%;
}
.sec-delivery-process {
    overflow: hidden;
    padding-top: 160px;
}
.delivery-process-title {
    padding-left: 130px;
    padding-right: 100px;
    width: 1070px;
}
.delivery-process-slider-wrap {
    padding-left: 200px;
    flex: 0 0 50%;
    max-width: 50%;
}
.delivery-process-item-title span {
    color: #003671;
}
.deliver-process-image {
    margin-top: 23px;
}
.delivery-process-item {
    width: 450px;
    min-width: 450px;
}
.delivery-process-slider .owl-item:first-child {
    align-self: center;
}
.delivery-process-slider .owl-item:nth-child(even) {
    padding-top: 320px;
}
.feature-event-block {
    background-color: #003671;
    color: #fff;
    padding: 55px 45px;
    margin-top: 50px;
}
.feature-event-date {
    margin-bottom: 8px;
    font-size: 14px;
    color: #BE955A;
}
.feature-event-date svg {
    margin-right: 10px;
}
.feature-event-title {
    color: #fff;
    margin-bottom: 5px;
}
.feature-event-block .readmore-link {
    margin-top: 50px;
}
.sec-bottom-text .author-info:before {
    height: 5px;
}
.border-top {
    border-top: 1px solid rgba(112, 112, 112, 0.5) !important;
}
.sec-bottom-text h2 {
    line-height: 140%;
}
.relationship-trust-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.relationship-trust-images .image-wrap img {
    filter: grayscale(1);
}
/* custom programs page end */



/* contact page start */
.sec-sub-home-banner.contact-page-banner .row.no-gutters {
    min-height: 195px;
}
.contact-page-banner .title-text h1 {
    padding-bottom: 25px;
}
.container-small {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.contact-info {
    padding-right: 35px;
}
.contact-info h6 {
    color: #003671;
    margin: 0;
    line-height: 25px;
}
.location-block {
    padding: 45px 0 35px;
    border-bottom: 1px solid rgba(88, 88, 90, 0.5);
}
.location-contact-info {
    margin-top: 22px;
}
.social-icons {
    margin: 55px 0 0;
}
.social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.social-icons li {
    margin: 30px 0 0;
    flex: 0 0 50%;
    max-width: 50%;
}
.social-icons a svg {
    margin-right: 5px;
    color: #003671;
}
.social-icons a:hover,
.social-icons a:hover svg {
    color: #BE955A;
}
iframe {
    width: 100%;
}
/* contact page eend */


/* sitemap page start */
.site-header-gray .navbar-dark .navbar-nav .nav-link:not(.btn), 
.site-header-gray .navbar-dark .navbar-nav .nav-link:not(.btn):hover {
    color: #58585A !important;
}
.site-header-gray .navbar-dark.sticky .navbar-nav .nav-link:not(.btn),
.site-header-gray .navbar-dark .navbar-nav .dropdown-item .nav-link:not(.btn), 
.site-header-gray .navbar-dark .dropdown-item .navbar-nav .nav-link:not(.btn):hover {
    color: #ffffff !important;
}
.sec-sitemap {
    overflow: hidden;
}
.sec-sitemap-left {
    background-color: #003671;
    position: relative;
    color: #fff;
    position: fixed;
    width: 483px;
    z-index: 1;
}
.sec-sitemap-left-inner {
    padding: 70px 25px 30px 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
}
.field__label{
    display: none;
}
.field field--name-field-count,
.field field--name-field-title{
    display: inline-block;
}
.left-sidebar-logo {
    display: inline-block;
    max-width: 216px;
}
.sec-sitemap-right {
    background-color: #fff;
    position: relative;
    padding: 220px 15px 100px 70px;
}
.sec-sitemap-left:before {
    content: "";
    position: absolute;
    left: -100vw;
    top: 0;
    height: 100%;
    background-color: #003671;
    width: 100vw;
}
.sec-sitemap-right:after {
    content: "";
    position: absolute;
    right: -100vw;
    top: 0;
    height: 100%;
    background-color: #ffffff;
    width: 100vw;
}
.medium-title {
    font-size: 68px;
    font-family: 'DIN-Bold', sans-serif;
    line-height: 75px;
}
.sec-sitemap .medium-title {
    margin: 0;
}
.row.sitemap-block-wrap {
    margin: 0 -58px;
}
.row.sitemap-block-wrap .sitemap-block,
.row.sitemap-block-wrap .social-icons {
    padding: 0 58px;
}
.sitemap-block {
    margin-top: 100px;
}
.sitemap-block h6,
.sec-sitemap .social-icons h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 12px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(88, 88, 90, 0.5);
}
.sitemap-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitemap-block li + li {
    margin-top: 24px;
}
.sitemap-block a {
    font-size: 22px;
    color: #003671;
    text-decoration: underline;
}
.sitemap-block a:hover {
    color: #BE955A;
}
.sec-sitemap .social-icons {
    margin-top: 80px;
}
.sec-sitemap .social-icons h6 {
    margin-bottom: 0;
}
/* sitemap page end */


/* careers page start */
.careers-tagline {
    margin-top: 165px;
}
.careers-tagline h2 {
    color: #fff;
    font-family: 'DIN-Bold', sans-serif;
    padding-bottom: 26px;
    margin-bottom: 25px;
    border-bottom: 5px solid #BE955A;
}
.social-media-connect {
    margin-top: 83px;
}
.sec-sitemap-left h4 {
    color: #fff;
    margin: 0 0 10px;
}
.drop-us-line {
    margin-top: 60px;
}
.social-link-title {
    color: #BE955A;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sec-sitemap-left a:hover {
    color: #BE955A;
}
.sec-careers .sec-sitemap-right {
    padding-bottom: 180px;
}
.sec-careers .sec-sitemap-right, 
.sec-careers .sec-sitemap-right:after {
    background-color: #F2F4F8;
}
.careers-block-wrap {
    margin-top: 50px;
}
.careers-block-wrap {
    margin: 50px -5px 0;
}
.careers-block-col {
    padding: 0 5px;
    margin-top: 20px;
    min-height: 199px;
}
.careers-block {
    background-color: #fff;
    padding: 26px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.job-sub-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.job-title {
    color: #003671;
    font-family: 'DIN-Bold', sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 30px;
}
.careers-block a {
    margin-top: auto;
    text-transform: uppercase;
    color: #BE955A;
    font-family: 'DIN-Regular', sans-serif;
}
.careers-block a:hover {
    color: #003671;
}
.careers-block a i,
.careers-block a svg {
    margin-right: 18px;
}
.show-more-block {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid rgba(88, 88, 90, 0.5);
    font-weight: 300;
    font-size: 26px;
    line-height: 50px;
}
footer {
    z-index: 99;
    position: relative;
}
.sec-careers-no-openings .sec-sitemap-right {
    height: 100vh;
}
.sec-careers-no-openings .sec-sitemap-right .sec-sitemap-right-inner {
    max-width: 600px;
}
.careeers-no-opning-text {
    margin-top: 62px;
}
.careeers-no-opning-text {
    margin-top: 62px;
    max-width: 565px;
}
.careeers-no-opning-text a {
    color: #BE955A;
}
.careeers-no-opning-text a:hover {
    color:#003671;
}
body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
}
.show-more-block .show-all-events a {
    padding-right: 35px;
}
/* careers page end */


/* resources page start */
.section.sec-resources {
    padding-top: 27px;
}
.filter-search-wrap {
    margin-bottom: 18px;
    margin-top: 47px;
}
.btn.filter-btn {
    font-size: 16px;
    color: #BE955A;
    text-transform: uppercase;
}
.btn.filter-btn svg:first-child {
    margin-right: 5px;
}
.btn.filter-btn svg:last-child {
    margin-left: 5px;
}
.btn.filter-btn,
.dropdown-select.resources-dropdown-select {
    font-size: 16px;
    color: #BE955A;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: 0 0 5px;
}
.btn.filter-btn.active,
.btn.filter-btn:hover,
.btn.filter-btn:focus {
    color: #003671;
}
.btn.filter-btn + .btn.filter-btn {
    margin-left: 65px;
}
.search-wrap {
    position: relative;
}
.search-wrap .form-control {
    border-width: 0 0 1px 0;
    border-color: #BE955A;
    font-size: 16px;
    padding: 5px 30px 0 0;
    min-width: 216px;
    background-color: transparent;
    box-sizing: border-box;
}
.form-control:focus, 
.form-control:active {
    outline: none;
    box-shadow: none;
    color: #BE955A;
}
.search-wrap .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BE955A;
  }
  .search-wrap .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #BE955A;
}
.search-wrap .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #BE955A;
}
.search-wrap .form-control:-moz-placeholder { /* Firefox 18- */
    color: #BE955A;
}
.search-wrap button {
    position: absolute;
    bottom: 3px;
    right: 0;
    border: none;
    background: transparent;
    color: #BE955A;
    font-size: 16px;
}
.resources-item-wrap {
    margin: 0 -10px;
}
.resources-item {
    padding: 25px 10px 0;
}
.resources-item,
.resources-item-container  {
    min-height: 584px;
}
.resources-item-container {
    height: 100%;
    padding: 60px 40px 45px;
    color: #fff;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.resources-item-container .readmore-link {
    margin-top: auto;
}
.resource-type {
    color: #BE955A;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.resource-type-white {
    color: #fff;
}
.resource-type svg {
    margin-right: 10px;
}
.resource-title {
    font-family: 'DIN-Light', sans-serif;
    color: #fff;
}
.resource-title-blue,
.resource-title-blue,
.video-link-blue a svg,
.readmore-link-blue a,
.readmore-link-blue a:hover,
.readmore-link-blue a:focus {
    color: #003671;
}
.readmore-link-blue a:after,
.readmore-link-blue a:hover:after {
    background-color: #003671;
}
.resources-item-container p {
    font-family: 'DIN-Light', sans-serif;
    margin-bottom: 30px;
}
.readmore-link.video-link a:after {
    display: none;
}
.video-link a svg {
    position: relative;
    transform: none;
    top: auto;
    height: auto;
    font-size: 68px;
    color: #ffffff;
}
.video-link a:hover svg {
    color: #BE955A;
}
.btn.focus, 
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.sec-resources .show-more-block {
    margin-top: 48px;
}
.show-more-block .show-all-events a, 
.show-more-block .show-all-events a svg {
    font-size: 26px;
}
.show-more-block .show-all-events ag {
    padding-right: 35px;
}
.sec-sub-home-banner .bg-transparent-blue:after {
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    background: rgba(0, 54, 113, 0.7);
    width: 37.25vw;
    height: 100%;
    content: "";
    display: block;
    z-index: -1;
}
body .bg-transparent-blue .title-text {
    padding-right: 40px;
    margin-right: 0;
    position: relative;
}
.bg-transparent-blue .title-text h1 {
    max-width: 100%;
    position: relative;
}
body .sec-sub-half-bg.sec-only-title-banner .title-text .h2 {
    font-weight: bold;
}
.sec-resources-details .h1 {
    font-family: 'DIN-Bold', sans-serif;
}
/* resources page end */


/* ressources details page start */
.sec-resources-details {
    padding-bottom: 120px;
}
.post-video iframe {
    min-height: 519px;
}
.post-video {
    margin-top: 22px;
}
.post-video + .post-text {
    margin-top: 22px;
}
.sec-post-single .sec-accordion-text {
    margin-top: 38px;
}
.accordion-body ul.pdf-download {
    margin: 0;
    padding: 0;
}
.accordion-body ul.pdf-download li {
    list-style: none;
    display: flex;
    align-items: center;
}
.accordion-body ul.pdf-download li + li {
    margin-top: 20px;
}
.pdf-download a {
    margin-left: auto;
    padding-left: 15px;
    max-width: 41px;
    flex: 0 0 41px;
}
.pdf-download a svg {
    font-size: 26px;
    margin-right: 0;
    color: #BE955A;
    width: auto !important;
}
.pdf-download a:hover svg,
.pdf-download a:focus svg {
    color: #003671;
}
.sec-resources-details .post-nav {
    margin-top: 70px;
}
/* ressources details page end */



/*
font-family: 'DIN-Light', sans-serif;
font-family: 'DIN-Bold', sans-serif;
font-family: 'DIN-Regular', sans-serif;
*/





/* RTL css start */ 
html[dir="rtl"] p,
html[dir="rtl"] .small-title,
html[dir="rtl"] .subtitle,
html[dir="rtl"] .sec-facts-figures h4,
html[dir="rtl"] .sec-banner-bottom h1,
html[dir="rtl"] .author-info,
html[dir="rtl"] .campuse-content,
html[dir="rtl"] .sec-relastionship-trust .text-highlighted-regular,
html[dir="rtl"] .contact-info h6,
html[dir="rtl"] .location-contact-info,
html[dir="rtl"] .careers-block,
html[dir="rtl"] .sitemap-block,
html[dir="rtl"] .resources-item-container,
html[dir="rtl"] .button-group-with-icons {
    text-align: right;
}
html[dir="rtl"] .author-info:before {
    left: auto;
    right: 0;
}
html[dir="rtl"] .sec-facts-figures p,
html[dir="rtl"]  .achievement-title {
    text-align: center;
}
html[dir="rtl"] .campuse-image {
    margin-right: 0;
    margin-left: 15px;
}
.owl-carousel.achievements-slider.owl-rtl .owl-item div {
    margin: 0 auto;
}
html[dir="rtl"] .contact-info {
    padding-right: 0;
    padding-left: 35px;
}
html[dir="rtl"] .sec-sitemap-left:before {
    left: auto;
    right: -100vw;
}
html[dir="rtl"] .sec-sitemap-right:after {
    right: auto;
    left: -100vw;
}
html[dir="rtl"] .offset-lg-4 {
    margin-left: 0;
    margin-right: 33.333333%;
}
html[dir="rtl"] .sec-sitemap-left-inner {
    padding-right: 0;
    padding-left: 25px;
    text-align: right;
}
html[dir="rtl"] .offset-lg-4 {
    margin-left: 0;
    margin-right: 33.333333%;
}
html[dir="rtl"] .sec-sitemap-right {
    padding-right: 70px;
    padding-left: 15px;
}
html[dir="rtl"] .sec-sub-home-banner .bg-transparent-blue:after {
    left: 0;
    right: auto;
}
html[dir="rtl"] body .bg-transparent-blue .title-text {
    padding-right: 0;
    padding-left: 40px;
}
html[dir="rtl"] .btn.filter-btn + .btn.filter-btn {
    margin-left: 0;
    margin-right: 65px;
    margin: 0;
}
html[dir="rtl"] .btn.filter-btn svg:first-child {
    margin-right: 0;
    margin-left: 5px;
}
html[dir="rtl"] .btn.filter-btn svg:last-child {
    margin-left: 0;
    margin-right: 5px;
}
html[dir="rtl"] .show-all-events a {
    padding-right: 0;
    padding-left: 35px;
}
html[dir="rtl"] .pdf-download a {
    padding-left: 0;
    padding-right: 15px;
    margin-left: 0;
    margin-right: auto;
}
/* RTL css end */ 



/* RESPONSIVE START */

@media (min-width: 576px) {
    .container-small {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-small {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-small {
        max-width: 960px;
    }
    .sec-sitemap-left {
        width: 319.98px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        max-width: 1140px;
    }
    .sec-sitemap-left {
        width: 380px;
    }
}
@media (min-width: 1500px) {
    .container-small {
        max-width: 1140px;
    }
    .sec-sitemap-left {
        width: 483px;
    }
}

@media (max-width: 1599px) {
    .delivery-process-title {
        padding-left: 80px;
        padding-right: 50px;
        width: 750px;
    }
}

@media (max-width: 1149px) {
    .banner-content-left-logo {
        margin-top: 105px;
    }
    .btn.filter-btn + .btn.filter-btn {
        margin-left: 30px;
    }
    html[dir="rtl"] .btn.filter-btn + .btn.filter-btn {
        margin-left: 0;
        margin-right: 30px;
    }
    .resources-item,
    .resources-item-container  {
        min-height: 703px;
    }
}

@media (max-width: 1199px) {
    h2, .h2 {
        font-size: 28px;
    }
    body .sec-home-banner .banner-content-left {
        top: 0;
        max-width: 100%;
    }
    .banner-content-left-logo {
        max-width: 150px;
        margin-top: 85px;
    }
    .banner-content-left .small-title {
        margin-bottom: 15px;
    }
    .banner-content-left p {
        font-size: 25px;
    }
    .big-title {
        font-size: 50px;
        max-width: 600px;
        line-height: 120%;
    }
    .our-mission-vision-block {
        margin-top: 70px;
    }
    .our-mission-vision-block p {
        font-size: 25px;
        line-height: 150%;
    }
    .heads-image {
        width: 100%;
        height: auto;
    }
    .sec-facts-figures .h1 {
        font-size: 50px;
    }
    .campuse-block-row {
        margin: 0 -15px;
    }
    .campuse-block {
        margin-top: 30px;
        padding: 0 15px;
    }
    body .owl-carousel button.owl-dot {
        width: 15px;
        height: 15px;
    }
    .owl-carousel-simple-nav .owl-nav button.owl-prev {
        left: -15px;
    }
    .owl-carousel-simple-nav .owl-nav button.owl-next {
        right: -15px;
    }
    .delivery-process-title {
        padding-right: 30px;
        width: 500px;
    }
    .sec-delivery-process {
        padding: 95px 0 50px;
    }
    .delivery-process-item {
        width: 300px;
        min-width: 300px;
    }
    .sec-sitemap-right {
        padding-left: 50px;
        padding-bottom: 105px;
        padding-top: 185px;
    }
    .row.sitemap-block-wrap {
        margin: 0 -30px;
    }
    .row.sitemap-block-wrap .sitemap-block,
    .row.sitemap-block-wrap .social-icons {
        padding: 0 30px;
    }
    .sitemap-block {
        margin-top: 70px;
    }
    .left-sidebar-logo {
        max-width: 176px;
    }
    .resources-item, .resources-item-container {
        min-height: 586px;
    }
}

@media (max-width: 991px) {
    .banner-content-left-logo {
        max-width: 110px;
        margin-top: 15px;
    }
    .message-section-content {
        padding-left: 30px;
    }
    .big-title {
        font-size: 42px;
        max-width: 500px;
        line-height: 50px;
    }
    .delivery-process-slider .owl-item:nth-child(even) {
        padding-top: 150px;
    }
    .delivery-process-title {
        padding-left: 30px;
    }
    body .sec-home-banner.sec-sub-home-banner.sec-only-logo-banner, 
    body .sec-home-banner.sec-sub-home-banner.sec-only-logo-banner .container {
        height: auto;
    }
    .sec-sitemap-left {
        position: relative;
        width: 100%;
    }
    .sec-sitemap-left:before {
        right: -100vw;
        width: auto;
    }
    .sec-sitemap-left-inner {
        padding: 25px 0 70px 0;
        height: auto;
        overflow: auto;
        position: relative;
    }
    .sec-sitemap-right {
        padding: 55px 15px 75px;
        background-color: #F2F4F8;
    }
    .sec-sitemap-right:after {
        width: auto;
        left: -100vw;
        background-color: #F2F4F8;
    }
    .sec-sitemap-right-inner {
        position: relative;
        z-index: 1;
    }
    .sec-sitemap .medium-title {
        margin: 0;
        color: #003671;
    }
    .col-lg-6.sitemap-block:first-child {
        margin-top: 45px;
    }
    .left-sidebar-logo {
        max-width: 126px;
    }
    .site-header-gray .navbar-dark .navbar-nav .nav-link:not(.btn), 
    .site-header-gray .navbar-dark .navbar-nav .nav-link:not(.btn):hover {
        color: #ffffff !important;
    }
    .careers-tagline {
        margin-top: 110px;
    }
    .social-media-connect {
        margin-top: 58px;
    }
    .drop-us-line {
        margin-top: 50px;
    }
    .sec-careers .sec-sitemap-left-inner {
        padding-bottom: 55px;
    }
    .careers-tagline h2 {
        padding-bottom: 16px;
        margin-bottom: 19px;
        display: inline-block;
        font-size: 36px;
    }
    .sec-careers .sec-sitemap-right {
        padding-bottom: 68px;
        padding-top: 53px;
    }
    .careers-block-wrap {
        margin: 0 -5px 0;
    }
    .sec-careers .sec-sitemap-right-inner .medium-title {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 35px;
    }
    .sec-careers-no-openings .sec-sitemap-right {
        height: auto;
        padding-bottom: 50px;
    }
    .careeers-no-opning-text {
        margin-top: 25px;
        max-width: 565px;
        margin-bottom: 0;
    }
    html[dir="rtl"] .offset-lg-4 {
        margin-left: 0;
        margin-right:0;
    }
    html[dir="rtl"] .sec-sitemap-left:before,
    html[dir="rtl"] .sec-sitemap-right:after {
        right: -100vw;
        left: -100vw;
    }
    html[dir="rtl"] .sec-sitemap-left-inner {
        padding-right: 0;
        padding-left: 0;
    }
    html[dir="rtl"] .sec-sitemap-right {
        padding-right: 15px;
        padding-left: 15px;
    }
    .resources-item, .resources-item-container {
        min-height: 703px;
    }
    .sec-sub-home-banner .bg-transparent-blue:after {
        width: 107.25vw;
        left: auto;
        right: 0;
    }
}

@media (max-width: 767px) {
    .banner-content-left p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 6.7rem;
    }
    .sec-banner-bottom h1 {
        font-family: 'DIN-Regular', sans-serif !important;
        font-weight: normal;
        font-size: 16px !important;
        line-height: 25px !important;
        margin-bottom: 0;
    }
    .sec-dean-message p,
    .message-section-content p {
        text-align: center !important;
    }
    body .sec-dean-message .row>div:first-child {
        order: 1;
    }
    body .sec-dean-message .row>div:last-child {
        order: 2;
    }
    .author-info {
        text-align: center;
    }
    .author-info:before {
        right: 0;
        margin: auto;
    }
    .message-section-content {
        padding-left: 15px;
        margin-top: 35px;
    }
    .message-section-content p.text-right {
        margin-top: 50px;
    }
    .message-section-content .h1 {
        text-align: center;
    }
    body .big-title,
    body .h1.big-title {
        font-size: 42px !important;
        max-width: 500px;
        line-height: 50px !important;
        color: #58585A;
    }
    .sec-hec-motto .small-title {
        margin-bottom: 15px;
    }
    .our-mission-vision-block {
        margin-top: 60px;
    }
    .our-mission-vision-block:nth-child(2n+1) .col-md-6:first-child {
        order: 2;
    }
    .our-mission-vision-block:nth-child(2n+1) .text-block {
        order: 1;
    }
    .our-mission-vision-block p {
        font-size: 16px;
        line-height: 25px;
    }
    .text-block {
        margin: 0 auto 15px;
    }
    .our-mission-vision-block .h1 {
        margin-bottom: 12px;
    }
    .our-mission-vision-block {
        margin-top: 33px;
    }
    .our-mission-vision-block + .our-mission-vision-block {
        margin-top: 57px;
    }
    .heads-image {
        width: 100%;
        height: auto;
        max-width: 155px;
        margin: auto;
    }
    .head-name, .head-desgination {
        max-width: 100%;
    }
    .achievements-slider .owl-item div {
        margin: 0 auto;
    }
    .achievement-title {
        font-size: 36px;
        font-family: 'DIN-Regular', sans-serif;
    }
    .section.sec-facts-figures {
        padding: 50px 0 80px;
    }
    .sec-facts-figures h4 {
        text-align: center;
    }
    .sec-facts-figures .h1 {
        font-size: 42px !important;
        line-height: 120% !important;
        margin: 0 0 5px;
    }
    .figures-block {
        border-right: none;
        margin-top: 20px;
    }
    .figures-block:nth-child(n+2), .figures-block:nth-child(n+4) {
        margin-top: 35px;
    }
    .section.sec-achievements {
        padding: 80px 0 55px;
        background-size: 0, cover;
    }
    .section.sec-education-campuses {
        padding: 60px 0 70px;
    }
    .campuse-content p {
        display: none;
    }
    .campuse-content .readmore-link {
        margin-top: 0;
    }
    .campuse-content {
        justify-content: center;
    }
    .campuse-block {
        margin-top: 45px;
        align-items: center;
    }
    .campuse-content {
        display: inline-block;
    }
    .campuse-content .text-highlighted {
        line-height: 120%;
    }
    .campuse-image {
        margin-right: 25px;
    }
    .campuse-block:first-child {
        margin-top: 32px;
    }
    .campuse-content .readmore-link a {
        font-size: 16px;
        max-width: 100%;
    }
    html[dir="rtl"] .author-info {
        text-align: center;
    }
    html[dir="rtl"] .author-info:before {
        left: 0;
    }
    html[dir="rtl"] .campuse-image {
        margin-right: 0;
        margin-left: 25px;
    }
    body .sec-sub-half-bg.sec-only-title-banner .title-text .h2 {
        font-size: 24px !important;
        line-height: 35px !important;
        padding-bottom: 65px !important;
    }
    body .sec-sub-half-bg.sec-only-title-banner {
        background-color: transparent;
        background-size: 0, cover;
        background-repeat: no-repeat;
        height: 100vh !important;
    }
    body .sec-sub-half-bg.sec-only-title-banner .container.position-relative {
        background-color: transparent;
    }
    .sec-sub-home-banner.sec-only-title-banner .row.no-gutters .col-3,
    .sec-sub-home-banner.sec-only-title-banner .row.no-gutters .bg-transparent-blue {
        padding-top: 35px;
        padding-bottom: 20px;
    }
    .sec-left-right-text h4 br {
        display: none;
    } 
    .delivery-process-slider.owl-carousel {
        display: block;
    }
    .delivery-process-slider.owl-carousel {
        display: block;
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;
    }
    .delivery-process-title {
        padding: 0;
        width: 100%;
    }
    .delivery-process-item {
        width: 100%;
        min-width: 100%;
        margin-top: 65px;
    }
    .delivery-process-item-title {
        font-size: 36px;
    }
    .feature-event-block {
        padding: 55px 0 50px;
        position: relative;
    }
    .feature-event-block:before {
        left: -100%;
        right: -100%;
        content: "";
        position: absolute;
        background-color: #003671;
        height: 100%;
        top: 0;
        z-index: -1;
    }
    .sec-left-right-text .container>.row.sec-with-image-row {
        padding-top: 0;
    }
    .sec-left-right-text .container>.row.sec-with-image-row:after,
    .sec-with-image-row .sec-right-text>.row>div+div:after {
        display: none;
    }
    .sec-with-image-row .sec-right-text>.row>div+div {
        margin-top: 10px;
    }
    .sec-bottom-text h2 {
        font-size: 26px;
    }
    .sec-bottom-text .author-info {
        text-align: left;
    }
    .sec-bottom-text .author-info::before {
        right: auto;
    }
    .relationship-trust-images .image-wrap {
        margin-top: 40px;
        text-align: center;
    }
    .section.sec-relastionship-trust {
        padding: 55px 0 50px;
    }
    .relationship-trust-images {
        margin-top: 0;
        align-items: center;
        flex-direction: column;
    }
    .feature-event-block .readmore-link {
        display: inline-block;
    }
    .feature-event-block .readmore-link a {
        max-width: 100%;
        display: inline-block;
    }
    .sec-videoWidget-mobiel-only-title iframe {
        margin-top: 0;
    }
    .sec-left-right-text .container>.row.sec-videoWidget-mobiel-only-title:after {
        display: none;
    }
    .sec-left-right-text .container>.row.sec-videoWidget-mobiel-only-title {
        padding-top: 0;
    }
    .contact-map {
        margin-top: 90px;
    }
    .sec-contact .container-small {
        max-width: 100%;
    }
    .contact-info {
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .sec-contact .col-md-7 {
        padding: 0;
    }
    .contact-map iframe {
        height: 425px;
    }
    .section.sec-contact {
        padding-bottom: 75px;
        background-color: transparent !important;
    }
    .section.sec-contact-banner-bootom-text {
        padding: 50px 0 0;
    }
    .sec-contact-banner-bootom-text p:last-child {
        margin: 0;
    }
    .contact-info {
        padding-right: 0;
    }
    html[dir="rtl"] .contact-info {
        padding-left: 0;
    }
    .sec-leadership .h1,
    .sec-education-campuses h1 {
        line-height: 35px !important;
    }
    .sec-left-right-text ul li:before {
        top: 11px;
    }
    .feature-event-title {
        color: #fff;
        margin: 18px 0;
        font-size: 36px;
        line-height: 50px;
    }
    .left-sidebar-logo {
        z-index: 1;
        position: relative;
    }
    .sec-sub-home-banner.sec-only-title-banner.contact-page-banner .row.no-gutters .col-3 {
        padding-top: 80px;
        padding-bottom: 25px;
    }
    body .sec-sub-half-bg.sec-only-title-banner.contact-page-banner .title-text .h2 {
        padding-bottom: 25px !important;
    }
    .careers-block-wrap {
        margin: 0 -15px 0;
    }
    .careers-block-col {
        padding: 0 15px;
        margin-top: 25px;
    }
    .sec-careers .sec-sitemap-right-inner .medium-title {
        font-size: 26px !important;
        line-height: 35px !important;
    }
    body .show-more-block {
        padding-top: 23px;
        margin-top: 50px;
    }
    body .show-more-block>span a {
        padding-right: 40px;
    }
    .show-more-block .show-all-events svg {
        font-size: 26px !important;
        top: 50%;
    }
    .sec-sub-home-banner .bg-transparent-blue:after {
        right: -500vw;
        width: 1000vw;
    }  
    body .bg-transparent-blue .title-text {
        padding-right: 0;
    }
    .bg-transparent-blue .title-text h1 {
        max-width: 224px;
    }
    body .sec-sub-half-bg.sec-only-title-banner .bg-transparent-blue .title-text .h2 {
        padding-bottom: 27px !important;
    }
    .resources-item, .resources-item-container {
        min-height: 325px;
    }
    .resources-dropdown-menu .btn {
        display: block;
        text-align: left;
        padding: 5px 15px;
    }
    .resources-dropdown-menu .btn.filter-btn + .btn.filter-btn {
        margin-left: 0;
    }
    html[dir="rtl"] .btn.filter-btn + .btn.filter-btn {
        margin-right: 0;
    }
    .dropdown-menu.resources-dropdown-menu {
        background: #F2F4F8;
        left: 0;
        min-width: 270px;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
    .dropdown-select.resources-dropdown-select {
        width: 270px;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .dropdown-select.resources-dropdown-select svg:last-child {
        margin-left: auto;
    }
    .dropdown-select.resources-dropdown-select svg:first-child {
        margin-right: 5px;
    }
    .resources-dropdown-menu .btn.filter-btn svg:last-child {
        display: none;
    }
    .section.sec-resources {
        background-color: #fff !important;
        padding-top: 60px;
        padding-bottom: 112px;
    }
    .filter-search-wrap {
        margin-bottom: 0;
        margin-top: 32px;
    }
    .resources-item-wrap {
        margin: 0 -15px;
    }
    .resources-item {
        padding: 48px 15px 0;
    }
    .resources-item-container p {
        display: none;
    }
    .resources-item-container {
        padding: 55px 38px 50px;
    }
    .video-link a svg {
        font-size: 49px;
    }
    html[dir="rtl"] .dropdown-select.resources-dropdown-select svg:first-child {
        margin-right: 0;
        margin-left: 5px;
    }
    html[dir="rtl"] .dropdown-select.resources-dropdown-select svg:last-child {
        margin-right: auto;
        margin-left: 0;
    }
    html[dir="rtl"] .dropdown-menu.resources-dropdown-menu {
        right: 0 !important;
        /* left: 0 !important; */
        /* width: auto !important; */
        /* max-width: 270px; */
        transform: translate3d(0, 31px, 0px) !important;
    }
    .resources-item .readmore-link a {
        font-size: 16px;
        max-width: 171px;
    }
    html[dir="rtl"] .resources-dropdown-menu .btn {
        text-align: right;
    }
    html[dir="rtl"] body .bg-transparent-blue .title-text {
        padding-right: 0;
        padding-left: 15px;
        margin-left: 0;
    }
    .post-video iframe {
        min-height: auto;
    }
    .sec-resources-details {
        padding-bottom: 65px;
    }
}

@media (max-width: 575px) {
    .delivery-process-slider.owl-carousel {
        max-width: 100%;
        padding: 0 25px;
    }
    body .backtotop {
        max-width: 130px;
    }
    .sec-leadership .h1 {
        line-height: 35px !important;
    }
}

@media (max-width: 320px) {
    .sec-careers .sec-sitemap-right-inner .medium-title br {
        display: none !important;
    }
    body .show-more-block>span a {
        padding-right: 35px;
    }
}



/*
font-family: 'DIN-Light', sans-serif;
font-family: 'DIN-Bold', sans-serif;
font-family: 'DIN-Regular', sans-serif;
*/