/* Min-width media queries */

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1449px;
  }
  #participan2Content > .tab-pane + .tab-pane {
    /* margin-top: 114px; */
    margin-top: 64px;
  } 
}
@media (min-width: 1200px)
{
  .sec-factsfigures-row .figures-block h2.h1
  {
    font-size: 68px;
  }
}
@media (min-width: 768px) {
  html[dir="rtl"] .offset-md-1 {
    margin-left: 0%;
    margin-right: 8.333333%;
    text-align: right;
  }
  #participanContent .tab-pane,
  #participan2Content .tab-pane {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}


/* Max-width media queries */
@media (max-width: 1600px)
{
  .sec-admissions-banner.sec-sub-home-banner .col.col-12
  {
    height: calc(100vh - 230px);
    max-height: calc(100vh - 230px);
    min-height: 559px;
  }
}
@media (max-width: 1499px) {
  .sec-happening h4,
  .sec-happening p {
    max-height: 102px;
    min-height: 102px;
  }
  .site-footer .col-md-3 {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
  }
  .site-footer .offset-md-1 {
    margin-left: 4.8%;
  }
  .quick-links .links+.links {
    margin-left: 27px;
  }
  html[dir="rtl"] .site-footer .offset-md-1 {
    margin-right: 4.8%;
    margin-left: 0;
  }
  html[dir="rtl"] .quick-links .links+.links {
    margin-left: 0;
    margin-right: 27px;
  }
  .professor-info h6 {
    font-size: 14px;
  }
  .sub-text p {
    max-width: 288px;
  }
  .sub-text-info li .subinfo-icon {
    font-size: 20px;
  }
  .sub-text-info li {
    padding-left: 43px;
  }
  .sec-sub-home-banner .title-text h1.h2 {
    font-size: 35px;
  }
  .sec-sub-home-banner .title-text {
    margin-right: 25px;
  }
  html[dir="rtl"] .sec-sub-home-banner .title-text {
    margin-right: 0px;
    margin-left: 25px;
  }
  .sec-degree-link .readmore-link a {
    padding-right: 30px;
  }
  html[dir="rtl"] .sec-degree-link .readmore-link a {
    padding-left: 30px;
    padding-right: 0;
  }
  .sec-right-text .tab-img {
    width: 40%;
  }
  .tab-content .tab-pane .tab-img-info {
    font-size: 14px;
  }
  .tab-content .tab-pane .tab-img-info>div {
    padding-left: 35px;
  }
  html[dir="rtl"] .tab-content .tab-pane .tab-img-info>div {
    padding-right: 35px;
    padding-left: 0;
  }
  .tab-content .tab-pane .tab-img-info>div:after {
    width: 16px;
    height: 16px;
  }
  .sec-right-text .tab-img {
    width: 30%;
  }
  .tab-content .tab-pane .tab-img-info>div+div {
    margin-top: 18px;
  }
  .tab-info-line>div {
    font-size: 12px;
    line-height: 20px;
  }
  #participan2Content>.tab-pane+.tab-pane {
    margin-top: 71px;
  }
  .sec-left-right-text iframe {
    min-height: 450px;
  }
  .howtostudy-step ul li{
    min-height: 146px;
    min-width: 146px;
    max-height: 146px;
    max-width: 146px;
    padding: 14px;
    font-size: 14px;
  }
  .howtostudy-step ul li .study-step
  {
    width: 78px;
    height: 30px;
    font-size: 13px;
  }
  .howtostudy-step ul li + li:after {
    content: "";
    width: 55px;
    height: 21px;
  }
  .sec-admissions-banner.sec-sub-home-banner .col.col-12
  {
    height: calc(100vh - 230px);
    max-height: calc(100vh - 230px);
    min-height: 559px;
  }
  .sub-long-text p {
      max-width: 550px;
  }
  
  
}

@media (max-width: 1400px) {
  .navbar-nav .nav-item+.nav-item {
    margin-left: 19px;
  }
  html[dir="rtl"] .navbar-nav .nav-item+.nav-item {
    margin-right: 19px;
  }
  .sec-home-banner .col.col-12,
  .sec-home-banner .video-content {
    height: 768px;
  }
  .dropdown-menu.left-menu {
    left: auto;
    right: -234%;
  }
  html[dir="rtl"] .dropdown-menu.left-menu {
    left: -234% !important;
  }
  .dropdown-item,
  .dropdown-item span {
    font-size: 20px;
  }
  .dropdown-item+.dropdown-item {
    margin-top: 15px;
  }
  .dropdown-menu {
    padding: 45px 40px 45px 25px;
  }
  html[dir="rtl"] .dropdown-menu {
    padding-left: 40px;
    padding-right: 25px;
  }
  
}

@media (max-width: 1199px) {
  .navbar-nav .nav-item+.nav-item {
    margin-left: 10px;
  }
  html[dir="rtl"] .navbar-nav .nav-item+.nav-item {
    margin-right: 10px;
  }
  .nav-link.btn {
    width: 100px;
  }
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:hover {
    font-size: 14px;
  }
  .navbar-nav .nav-item+.nav-item {
    margin-left: 10px;
  }
  html[dir="rtl"] .soc-link ul li+li {
    margin-right: 10px;
  }
  html[dir="rtl"] footer .soc-link ul li+li {
    margin-right: 25px;
  }
  html[dir="rtl"] footer .soc-link ul {
    padding-right: 0;
  }
  .dropdown-item,
  .dropdown-item span {
    font-size: 16px;
  }
  .dropdown-menu {
    padding: 25px 15px 25px 5px;
  }
  html[dir="rtl"] .dropdown-menu {
    padding-left: 15px;
    padding-right: 5px;
    right: -20px !important;
  }
  .dropdown-item+.dropdown-item {
    margin-top: 10px;
  }
  .dropdown-menu {
    left: -20px;
  }
  .dropdown-menu.left-menu {
    left: auto;
    right: -179%;
  }
  html[dir="rtl"] .dropdown-menu.left-menu {
    left: -179% !important;
  }
  .sec-home-banner .col.col-12,
  .sec-home-banner .video-content {
    height: 460px;
  }
  .scroll-next {
    font-size: 14px;
    bottom: 24px;
  }
  #video-btn,
  .play,
  .pause {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
  .soc-link ul li+li {
    margin-left: 10px;
  }
  html[dir="rtl"] .soc-link ul li+li {
    margin-right: 10px;
    margin-left: 0;
  }
  h3,
  .h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .readmore-link a {
    font-size: 14px;
    max-width: 141px;
  }
  .sub-section-title h3 {
    margin-bottom: 10px;
  }
  .sub-section-title {
    min-height: 220px;
    padding: 34px 23px;
  }
  h1,
  .h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .text-left-title {
    max-width: 710px;
  }
  .abouthec-video iframe {
    width: 100%;
    min-height: 290px;
    max-height: 290px;
  }
  .sec-happening h4,
  .sec-happening p {
    max-height: 102px;
    min-height: 102px;
  }
  .sec-happening .col-12.d-flex .whh-text {
    padding: 46px 27px;
    height: calc(100% - 175px);
  }
  .sec-happening .whh-text:after {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    left: 60px;
    bottom: -24px;
  }
  html[dir="rtl"] .sec-happening .whh-text:after {
    left: auto;
    right: 60px;
  }
  .whh-img {
    min-height: 175px;
    max-height: 175px;
  }
  .site-footer .col-md-3 {
    -ms-flex: 0 0 36%;
    flex: 0 0 36%;
    max-width: 36%;
  }
  .site-footer .offset-md-1 {
    margin-left: 2.8%;
  }
  html[dir="rtl"] .site-footer .offset-md-1 {
    margin-left: 0;
    margin-right: 0;
  }
  .quick-links .links+.links {
    margin-left: 26px;
  }
  html[dir="rtl"] .quick-links .links+.links {
    margin-right: 0px;
  }
  .quick-links .links a {
    font-size: 12px;
  }
  .copyright-text,
  .backtotop a {
    font-size: 14px;
  }
  .sec-home-banner .banner-content {
    max-width: 30%;
    top: 45%;
  }
  .sec-sub-home-banner .col.col-12 {
    height: 560px;
  }
  .sec-sub-home-banner .banner-content {
    max-width: 176px !important;
    top: 73px !important;
  }
  .sec-sub-home-banner .row.no-gutters {
    min-height: 230px;
  }
  .title-text h1 {
    font-size: 28px;
    padding-bottom: 35px;
  }
  .sec-sub-home-banner .title-text h1.h2 {
    font-size: 29px;
  }
  .sub-text p {
    max-width: 248px;
    font-size: 14px;
  }
  .sub-text-info li span:not(.subinfo-icon) {
    font-size: 12px;
  }
  .sub-text-info li {
    margin-top: 15px;
  }
  .sub-text-info ul {
    margin-top: -15px;
    padding-left: 15px;
  }
  html[dir="rtl"] .sub-text-info ul {
    padding-left: 0;
    padding-right: 15px;
  }
  .sub-text-info li:nth-child(even) {
    margin-left: 3%;
  }
  html[dir="rtl"] .sub-text-info li:nth-child(even) {
    margin-right: 3%;
    margin-left: 0;
  }
  .sec-degree-link .readmore-link a {
    font-size: 13px;
  }
  .sec-main-text {
    padding: 55px 0;
  }
  .sec-main-text h2,
  #participanContent .tab-pane h2,
  #participan2Content .tab-pane h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .sec-left-right-text h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .sec-left-right-text iframe {
    min-height: 350px;
  }
  .tab-content .tab-pane .tab-img-info {
    width: 192px;
  }
  .tab-info-line>div>div {
    width: 35%;
  }
  #participan2Content>.tab-pane+.tab-pane {
    margin-top: 58px;
  }
  .testimonials-slider p {
    max-width: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }
  .testimonials-slider p strong,
  .sec-alumni-ambassador .sec-right-icon p strong {
    font-size: 20px;
    line-height: 28px;
  }
  .testimonials-slider p.text-small,
  .sec-alumni-ambassador .sec-right-icon p {
    font-size: 14px;
    line-height: 22px;
  }
  .sec-alumni-ambassador .sec-right-icon>i,
  .sec-alumni-ambassador .sec-right-icon>svg {
    font-size: 55px;
  }
  .howtostudy-step ul li{
    min-height: 126px;
    min-width: 126px;
    max-height: 126px;
    max-width: 126px;
    padding: 10px;
    font-size: 13px;
  }
  .howtostudy-step ul li .study-step {
    width: 58px;
    height: 25px;
    font-size: 11px;
  }
  .howtostudy-step ul li + li:after {
    content: "";
    width: 40px;
    height: 15px;
  }
  .sec-admissions-banner.sec-sub-home-banner .col.col-12 {
    min-height: 439px;
  }
  .sub-text br + br
  {
    display: none;
  }
  .sub-long-text p {
    max-width: 480px;
  }
  .sub-long-text br + br
  {
    display: block;
  }
  .sec-events-lr-text .interested-more a
  {
    font-size: 20px;
  }
  .sec-events-lr-text .show-all-events svg {
    font-size: 17px;
  }
  .mac.chrome .navbar-dark .navbar-nav .nav-link {
    padding-top: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:hover {
    font-size: 13px;
  }
  .dropdown-menu.left-menu {
    left: auto;
    right: -192%;
  }
  html[dir="rtl"] .dropdown-menu.left-menu {
    left: -192% !important;
  }
  .navbar-brand
  {
    top: 8px;
  }
  .site-logo-blue .navbar-brand a > img
  {
    width: 69px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu {
    display: none;
  }
  .nav-link:hover+.dropdown-menu {
    display: block;
  }
  .navbar-nav .nav-item+.nav-item {
    margin-left: 0px;
  }
  .sec-ourprograms .row>.col-12:nth-child(even) .sub-section-title::after {
    opacity: 0;
  }
  .sec-ourprograms .row>.col-12:nth-child(4n+2) .sub-section-title::after,
  .sec-ourprograms .row>.col-12:nth-child(4n+3) .sub-section-title::after {
    content: "";
    background-color: #003671;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5 !important;
  }
  /* .navbar
  {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0 54 113 / 26%);
  }
  .navbar-show .navbar
  {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0 54 113 / 80%);
  } */
  .dropdown-menu {
    padding: 0;
    position: static;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    border-left: 1px solid;
    background-color: transparent;
    border-radius: 0;
  }
  .navbar-dark .nav-item:hover>.nav-link::after,
  .navbar-dark .nav-item.active>.nav-link::after {
    display: none;
  }
  .navbar-nav {
    max-height: 100vh;
    overflow: auto;
  }
  .nav-link.btn {
    border: 1px solid #fff;
  }
  .navbar-toggler span {
    padding: 0;
    width: 25px;
    height: 21px;
    background-size: 40px;
    background-position: -19px 2px;
    background-repeat: no-repeat;
    border: none;
    display: block;
    /* transition: all 0.2s; */
  }
  .navbar-toggler[aria-expanded="true"] span {
    background-size: 38px;
    background-position: 4px 3px;
  }
  .navbar-nav .nav-item {
    margin-top: 5px;
  }
  .abouthec-video iframe {
    width: 100%;
    min-height: 280px;
    max-height: 100%;
    height: 100%;
  }
  .events-calendar {
    font-size: 12px;
  }
  .interested-more a {
    font-size: 18px;
  }
  .show-all-events svg {
    font-size: 14px;
  }
  .show-all-events a {
    padding-right: 25px;
  }
  html[dir="rtl"] .show-all-events a {
    padding-right: 25px;
  }
  .sec-happening .col-12.d-flex .whh-text {
    padding: 56px 47px;
    height: auto;
  }
  .whh-img {
    min-height: 418px;
    max-height: 418px;
  }
  .sec-happening h4,
  .sec-happening p {
    max-height: 100%;
    min-height: 1px;
  }
  .sec-happening .col-12.d-flex+.col-12.d-flex {
    margin-top: 50px;
  }
  .quick-links .links+.links {
    margin-left: 0;
    display: block;
    margin-top: 15px;
  }
  .site-footer .row.top-row .col-md-2,
  .site-footer .row.top-row .col-md-5 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 0;
  }
  .site-footer .row.top-row .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0;
  }
  html[dir="rtl"] .navbar-dark .navbar-nav .nav-link {
    text-align: right;
  }
  html[dir="rtl"] .navbar-nav .nav-item+.nav-item {
    margin-right: 0px;
  }
  html[dir="rtl"] .navbar-dark .navbar-nav .nav-link.btn {
    text-align: center;
  }
  html[dir="rtl"] .dropdown-menu {
    padding: 0;
    border-left: 0;
    border-right: 1px solid #fff;
  }
  .navbar-toggler {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 15px;
    width: auto;
    height: auto;
    line-height: 0;
    border-radius: 0;
  }
  button.navbar-toggler.collapsed {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-mobile {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    visibility: hidden;
  }
  button[aria-expanded="true"]+.navbar-mobile {
    visibility: visible;
  }
  .navbar-collapse,
  .navbar-collapse.show {
    height: 100% !important;
    transition: none !important;
    max-height: 100vh;
    overflow: auto;
    background-color: rgb(0 54 113);
    padding-top: 105px;
    opacity: 0;
    transition: opacity 0.1s !important;
  }
  .navbar-collapse.show {
    opacity: 1;
    transition: opacity 0.1s !important;
  }
  .navbar .container-fluid {
    height: 100vh;
    padding: 0;
  }
  .navbar-show {
    overflow: hidden;
  }
  .dropdown-menu,
  .nav-link+.dropdown-menu {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
  }
  .dropdown-menu.show,
  .nav-link:hover+.dropdown-menu.show {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
  }
  .navbar {
    padding: 0;
  }
  .m-logo {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95px;
    height: 66px;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 20px;
  }
  .navbar-nav {
    max-height: calc(100vh - 105px);
    overflow: auto;
    padding: 0 25px 25px 25px;
  }
  .navbar-dark .nav-item>.nav-link {
    position: relative;
  }
  .navbar-dark .nav-item>.nav-link::after,
  .navbar-dark .nav-item:hover>.nav-link::after {
    display: block;
    border: 0;
    height: 1px;
    bottom: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .navbar-dark .nav-item>.nav-link:not(.btn) {
    padding-bottom: 12px;
    padding-right: 15px;
  }
  .navbar-dark .nav-item>.nav-link>svg.fa-chevron-right {
    position: absolute;
    right: 0;
    top: 8px;
    color: #BE955A;
  }
  .navbar-dark .nav-item>.nav-link[aria-expanded="true"]>svg.fa-chevron-right {
    transform: rotate(90deg) !important;
  }
  .navbar-nav .dropdown-menu {
    border: none !important
  }
  .dropdown-menu {
    margin-top: 10px;
  }
  .navbar-dark .nav-item>.nav-link span {
    position: relative;
  }
  .navbar-dark .nav-item>.nav-link span::after {
    content: "";
    width: 0%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #BE955A;
    height: 4px;
    position: absolute;
    bottom: -12px;
    transition: none;
    opacity: 0;
  }
  .navbar-dark .nav-item.show>.nav-link span::after,
  .navbar-dark .nav-item>.nav-link:hover span::after {
    width: 100%;
    opacity: 1;
  }
  .nav-link.btn {
    width: 100%;
    background-color: #BE955A;
    border: none;
    padding: 7px;
    margin-top: 30px;
  }
  .nav-link.btn svg {
    margin-left: 8px;
    font-size: 14px;
  }
  .sec-home-banner .col.col-12,
  .sec-home-banner .video-content,
  .sec-home-banner.sec-sub-home-banner,
  .sec-sub-home-banner .container.position-relative {
    height: 100vh;
  }
  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link:hover {
    font-size: 16px;
  }
  html[dir="rtl"] .navbar-nav,
  html[dir="rtl"] .soc-link ul {
    padding-right: 20px;
  }
  html[dir="rtl"] .navbar-dark .nav-item>.nav-link:not(.btn) {
    padding-left: 15px;
    padding-right: 0;
  }
  html[dir="rtl"] .navbar-dark .nav-item>.nav-link>svg.fa-chevron-right {
    left: 0;
    right: auto;
    transform: rotate(180deg);
  }
  html[dir="rtl"] .nav-link.btn svg {
    margin-left: 0;
    margin-right: 8px;
  }
  .sec-sub-home-banner .col.col-12 {
    height: 450px;
  }
  .sec-sub-home-banner .banner-content {
    max-width: 126px !important;
    top: 43px !important;
  }
  .nav-link>svg,
  .nav-link>i {
    display: inline-block;
  }
  .navbar.sticky {
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-brand {
    display: none !important;
  }
  button[aria-expanded="false"]+.navbar {
    visibility: hidden;
    opacity: 0;
  }
  html[dir="rtl"] .navbar-toggler {
    left: 0;
    right: auto;
  }
  .sec-degree-link {
    padding: 40px 0;
  }
  .sec-sub-home-banner .col-3:after {
    width: 37.25vw;
    left: auto;
    right: 0;
  }
  html[dir="rtl"] .sec-sub-home-banner .col-3:after {
    left: 0;
    right: auto;
  }
  .sub-text {
    padding: 37px 0;
  }
  .sub-text p {
    max-width: 100%;
    font-size: 16px;
  }
  .sub-text-info ul,
  html[dir="rtl"] .sub-text-info ul {
    padding-left: 0;
    padding-right: 0;
  }
  .sub-text-info:after {
    content: "";
    background-color: #003671;
    width: 1000vw;
    position: absolute;
    left: -500vw;
    z-index: -1;
    height: 100%;
  }
  html[dir="rtl"] .sub-text-info:after {
    left: auto;
    right: -500vw;
  }
  .sub-text-info {
    padding: 37px 0;
  }
  .sub-text-info li span:not(.subinfo-icon) {
    font-size: 16px;
  }
  .sub-text-info li .subinfo-icon {
    font-size: 24px;
  }
  .sec-banner-text-mobile {
    overflow: hidden;
  }
  .sub-text-info li:nth-child(even),
  html[dir="rtl"] .sub-text-info li:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
  .sticky-button a {
    font-size: 8px;
  }
  .sticky-button {
    width: 57px;
  }
  .sec-left-right-text iframe {
    min-height: 280px;
  }
  .sec-right-text p span.d-inline-block {
    max-width: 200px;
  }
  .tab-content .tab-pane .tab-img-info>div {
    padding-left: 30px;
  }
  html[dir="rtl"] .tab-content .tab-pane .tab-img-info>div {
    padding-left: 0;
    padding-right: 30px;
  }
  .tab-content .tab-pane .tab-img-info {
    width: 142px;
  }
  .tab-content .tab-pane .tab-img-info>div {
    font-size: 12px;
  }
  .tab-content .tab-pane .tab-img-info>div:after {
    width: 12px;
    height: 12px;
  }
  .tab-content .tab-pane .tab-img-info>div+div {
    margin-top: 10px;
  }
  .tab-info-line>div {
    font-size: 10px;
    line-height: 18px;
  }
  #participan2Content {
    padding-left: 5%;
    padding-right: 0;
  }
  html[dir="rtl"] #participan2Content {
    padding-left: 0;
    padding-right: 5%;
  }
  #participan2Content>.tab-pane+.tab-pane {
    margin-top: 53px;
  }
  .sec-right-slider>p {
    max-width: 68%;
  }
  body .sec-right-slider .owl-nav button {
    width: 37px;
    height: 37px;
  }
  body .sec-right-slider .owl-nav span {
    font-size: 40px;
    top: -12px;
  }
  .testimonials-img-left {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }
  .testimonials-img-right {
    margin-left: 23px;
  }
  html[dir="rtl"] .testimonials-img-right {
    margin-left: 23px;
  }
  .testimonials-slider .owl-item {
    background-color: #F2F4F8;
    padding: 35px 30px;
  }
  .sec-alumni-ambassador .sec-right-icon>i,
  .sec-alumni-ambassador .sec-right-icon>svg {
    top: -10px;
    font-size: 45px;
  }
  .sec-alumni-ambassador .sec-right-icon {
    padding-left: 60px;
  }
  html[dir="rtl"] .sec-alumni-ambassador .sec-right-icon {
    padding-left: 0;
    padding-right: 60px;
  }
  .sec-alumni-ambassador {
    padding: 37px 48px 37px 20px;
  }
  html[dir="rtl"] .sec-alumni-ambassador {
    padding: 37px 20px 37px 48px;
  }
  .sec-alumni-ambassador .readmore-link {
    margin-top: 23px;
  }
  .sec-alumni-ambassador p.line-bottom {
    margin-top: 38px;
  }
  .sec-sub-home-banner .col-3 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  .sec-sub-home-banner .col-3:after {
    width: 107.25vw;
  }
  .sec-degree-link .readmore-link a svg,
  html[dir="rtl"] .sec-degree-link .readmore-link a svg {
    top: 3px;
    transform: rotate(90deg) translateY(-50%);
  }
  .sec-degree-link .readmore-link a svg {
    transform: rotate(90deg) translateY(50%);
  }
  .howtostudy-step ul li {
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
    padding: 5px;
    font-size: 10px;
  }
  .howtostudy-step ul li .study-step {
    width: 48px;
    height: 20px;
    font-size: 10px;
  }
  .howtostudy-step ul li + li:after {
    content: "";
    width: 26px;
    height: 10px;
  }
  .sec-sub-half-bg.sec-sub-long-bg .col-3:after,
  html[dir="rtl"] .sec-sub-half-bg.sec-sub-long-bg .col-3:after
  {
    width: 100vw;
  }
  html[dir="rtl"] .sec-sub-home-banner .banner-content
  {
    right: 15px !important;
  }
  .sec-sub-half-bg .col-4.d-none.d-lg-block
  {
    display: flex;
  }
  .sec-sub-half-bg .col-4.d-none.d-lg-block {
    display: flex !important;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sec-sub-half-bg .sub-text p
  {
    padding: 0 25px;
    font-size: 14px;
  }
  .sec-sub-home-banner.sec-sub-half-bg,
  .sec-sub-home-banner.sec-sub-half-bg .container.position-relative
  {
    height: 100% !important;
  }
  .sec-sub-home-banner.mobile-full-banner
  {
    height: 100vh !important;
  }
  .d-none-mobile
  {
    display: none !important;
  }
  .sec-latestreleases .col-lg-4.d-flex {
    margin-bottom: 50px;
    margin-top: 0 !important;
  }
  .navbar-dark .nav-item:hover>.nav-link::after, 
  .navbar-dark .nav-item.active>.nav-link::after 
  {
    display: block;
  }
  .sec-events-lr-text
  {
    padding-top: 8px;
    padding-bottom: 0;
  }
  .clear-filters
  {
    margin-bottom: 60px;
  }
  .sec-post-single {
    padding-top: 65px;
  }
  .site-header-gray .navbar-dark .navbar-nav .nav-link span,
  .site-header-gray .navbar-dark .navbar-nav .nav-link:hover span
  {
    color: #fff !important;
  }
  .navbar-dark .navbar-nav .nav-item.active .nav-link span
  {
    font-family: 'DIN-Regular', sans-serif;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 45px 0;
  }
  h1,
  .h1 {
    font-size: 26px !important;
    line-height: 35px !important;
  }
  .subtitle {
    font-size: 16px;
  }
  .sec-ourprograms .section-title {
    min-height: 1px;
    align-items: flex-start;
    justify-content: flex-start !important;
  }
  html[dir="rtl"].sec-ourprograms .section-title {
    justify-content: flex-end !important;
  }
  .sec-ourprograms .section-title .h1 {
    padding-right: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .sec-ourprograms .section-title .h1::after {
    display: none;
  }
  .section.sec-opportunity {
    padding-bottom: 34px;
    padding-top: 27px !important;
  }
  .sec-opportunity .subtitle {
    margin-bottom: 33px !important;
  }
  .sec-ourprograms .row>.col-12:nth-child(4n+2) .sub-section-title::after,
  .sec-ourprograms .row>.col-12:nth-child(4n+3) .sub-section-title::after {
    opacity: 0 !important;
  }
  .sec-ourprograms .row>.col-12:nth-child(even) .sub-section-title::after {
    opacity: 0.5 !important;
  }
  h3,
  .h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .readmore-link a {
    font-size: 12px;
    max-width: 90px;
    margin-top: 5px;
  }
  .readmore-link a:hover {
    max-width: 110px;
  }
  .abouthec-text {
    margin-top: 12px
  }
  .events-text {
    padding-bottom: 34px;
    margin-bottom: 32px;
  }
  .sec-upevents .row .col-12:nth-last-of-type(2) .events-text {
    margin-bottom: 15px;
  }
  .interested-more,
  .interested-more>span {
    display: block !important;
  }
  .interested-more>span a {
    line-height: 30px;
  }
  .interested-wb {
    padding-top: 16px;
  }
  .sec-happening h2 {
    margin-bottom: 39px;
  }
  .site-footer .row.top-row .col-md-2,
  .site-footer .row.top-row .col-md-5 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .site-footer .row.top-row .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 25px;
    justify-content: flex-start !important;
    margin-bottom: 10px;
  }
  .copyright-text {
    width: 65%;
  }
  .backtotop {
    height: 23px;
  }
  .sec-home-banner .banner-content {
    max-width: 50%;
    top: 45%;
  }
  .sub-section-title {
    min-height: 112px;
    padding: 29px 20px;
  }
  .interested-more .event-interested {
    display: none !important;
  }
  .scroll-next {
    font-size: 16px;
    bottom: 40px !important;
  }
  h2.h1 {
    font-size: 24px !important;
    line-height: 25px !important;
  }
  .sec-abouthec .row>div:first-child {
    order: 2;
  }
  .sec-abouthec .row>div:last-child {
    order: 1;
  }
  .abouthec-text h2 {
    margin-bottom: 25px !important;
  }
  .abouthec-video iframe {
    margin-top: 17px;
    min-height: 181px;
    max-height: 100%;
    height: 55vw;
  }
  .events-calendar {
    font-size: 16px !important;
    margin-top: 16px;
    margin-bottom: 3px;
  }
  .events-time {
    margin-top: 20px;
    margin-bottom: 32px;
  }
  .show-all-events {
    text-align: center !important;
  }
  .interested-more>span a {
    font-size: 26px !important;
  }
  .show-all-events svg {
    font-size: 18px !important;
  }
  .icon-left svg,
  .icon-right svg {
    top: 58%;
  }
  .interested-more {
    padding-top: 33px;
  }
  .section.sec-upevents {
    padding-bottom: 36px !important;
  }
  .section.sec-happening {
    padding-top: 58px;
  }
  .sec-happening .col-12.d-flex .whh-text {
    padding: 38px 25px 27px !important;
    height: auto;
  }
  .sec-happening h4 {
    margin-bottom: 30px;
  }
  .sec-happening .whh-text:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 14px solid #fff;
    left: 60px;
    bottom: -14px;
  }
  .sec-upevents .row .col-12:nth-last-of-type(2) .events-text,
  .sec-upevents .row .col-12:last-child .events-text {
    margin-bottom: 0;
  }
  .section.sec-whyhec {
    padding-top: 62px;
    padding-bottom: 59px;
  }
  .col-md-10 .offset-md-1 h2.h1 {
    margin-bottom: 20px;
  }
  footer .row.top-row {
    display: block;
    text-align: center;
  }
  .site-footer .row.top-row .col-md-2,
  .site-footer .row.top-row .col-md-5 {
    width: 100%;
    max-width: 100%;
  }
  html body .site-footer .row.top-row .col-md-3 {
    justify-content: center !important;
    padding-top: 32px;
    margin-bottom: -5px;
  }
  footer {
    padding-top: 30px;
  }
  footer .row.top-row .d-md-none {
    margin-bottom: 30px;
  }
  .quick-links .links br+a,
  .quick-links .links+.links {
    margin-top: 33px;
  }
  .quick-links .links a {
    font-size: 16px;
  }
  footer .quick-links h6 {
    padding-top: 50px;
    font-weight: bold;
  }
  footer a:hover {
    color: #BE955A;
  }
  .sec-home-banner {
    background-position: center, top;
    background-size: 0, cover;
  }
  .sec-sub-home-banner .col-3:after {
    right: -500vw;
    width: 1000vw;
  }
  html[dir="rtl"] .sec-sub-home-banner .col-3:after {
    right: auto;
    left: -500vw;
  }
  .sec-sub-home-banner .row.no-gutters {
    min-height: 150px;
  }
  .sec-home-banner h1.h2 {
    font-size: 26px !important;
    line-height: 35px !important;
  }
  .title-text h1 {
    padding-bottom: 25px;
  }
  .professor-img {
    max-width: 154px;
  }
  .section.sec-professors {
    padding-top: 30px;
  }
  .sec-professors .row>.col-12.col-md-6 {
    margin-top: 47px;
  }
  .sec-professors .interested-more {
    margin-top: 57px;
  }
  html[dir="rtl"] .quick-links,
  html[dir="rtl"] .quick-links .links {
    text-align: center;
  }
  body footer .row.top-row .d-md-none {
    margin-top: 0 !important;
  }
  .sub-text-info ul li {
    max-width: 100%;
  }
  .sec-sub-home-banner h1.h2 {
    font-size: 24px !important;
  }
  .sec-main-text h2 {
    font-size: 18px;
    line-height: 25px;
    max-width: 100%;
  }
  .sec-main-text {
    padding: 50px 0 0;
  }
  .sec-left-right-text>.container>.row>div,
  .sec-right-text>.row>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sec-left-right-text h4 {
    font-size: 24px;
    line-height: 35px;
    margin-top: -10px;
  }
  .sec-left-right-text ul {
    margin: 23px 0 0 0;
  }
  .sec-financing-row .col-3 h4 {
    margin-bottom: 7px;
  }
  .sec-right-text p span.d-inline-block {
    margin: 9px 0 0!important;
    width: 100%;
    max-width: 100%;
  }
  .sec-right-text p span.d-inline-block+span.d-inline-block {
    margin-top: 35px !important;
  }
  .sec-right-text p span.d-inline-block strong {
    margin-bottom: 12px;
  }
  .sec-right-text .sec-right-text {
    padding-left: 0 !important;
    padding-left: 0 !important;
    margin-top: 25px;
  }
  .sec-onlineApp-row .sec-right-text img,
  .sec-left-right-text p {
    width: 100%;
    max-width: 100%;
  }
  .sec-right-text table tr>th,
  .sec-right-text table tr>td {
    padding-left: 28px;
  }
  html[dir="rtl"] .sec-right-text table tr>th,
  html[dir="rtl"] .sec-right-text table tr>td {
    padding-right: 28px;
    padding-left: 0;
  }
  .sec-right-text table tr>th:first-child,
  .sec-right-text table tr>td:first-child {
    width: 190px;
  }
  .sec-right-text table tr:not(:first-child) td {
    padding: 15px 0 15px 28px;
  }
  /* .sec-right-text table
  {
    border-top:0;
  } */
  .intake-link {
    padding-bottom: 28px;
  }
  #participan2,
  #participan {
    display: block;
    border: none;
    margin-top: 4px;
  }
  #participan2 li,
  #participan li {
    display: inline-block;
    width: auto;
    padding-left: 0;
  }
  #participan2.nav-tabs .nav-link,
  #participan.nav-tabs .nav-link,
  #participan.nav-tabs .nav-link.active,
  #participan2.nav-tabs .nav-link.active,
  #participan2.nav-tabs .nav-link:hover,
  #participan.nav-tabs .nav-link:hover {
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 25px;
    padding: 0%;
    border-bottom: 1px solid;
  }
  .sec-left-right-text ul.nav-tabs li:before {
    display: none;
  }
  #participan2.nav-tabs .nav-link,
  #participan.nav-tabs .nav-link {
    color: #BE955A;
    text-transform: uppercase;
  }
  #participan.nav-tabs .nav-link.active,
  #participan2.nav-tabs .nav-link.active,
  #participan2.nav-tabs .nav-link:hover,
  #participan.nav-tabs .nav-link:hover {
    color: #003671;
  }
  #participan.nav-tabs .nav-item+.nav-item,
  #participan2.nav-tabs .nav-item+.nav-item {
    margin-left: 32px;
  }
  html[dir="rtl"] #participan.nav-tabs .nav-item+.nav-item,
  html[dir="rtl"] #participan2.nav-tabs .nav-item+.nav-item {
    margin-left: 0;
    margin-right: 32px;
  }
  #participanContent>.tab-pane+.tab-pane,
  #participan2Content>.tab-pane+.tab-pane {
    margin-top: 0;
  }
  #participanContent>.tab-pane,
  #participan2Content>.tab-pane {
    position: relative;
    padding-top: 52px;
  }
  #participanContent>.tab-pane>div,
  #participan2Content>.tab-pane>div {
    display: block !important;
    width: 100%;
  }
  .sec-right-text .tab-img {
    width: auto;
  }
  #participanContent>.tab-pane h2,
  #participan2Content>.tab-pane h2 {
    position: absolute;
    font-size: 14px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 110px;
  }
  .sec-right-text .tab-img {
    text-align: center;
  }
  .sec-right-text .tab-img img {
    max-width: 156px;
  }
  .tab-content .tab-pane .tab-img-info {
    width: 100%;
    margin-top: 23px;
  }
  .tab-content .tab-pane .tab-img-info>div {
    font-size: 16px;
  }
  .tab-content .tab-pane .tab-img-info>div:after {
    width: 14px;
    height: 14px;
  }
  .tab-content .tab-pane .tab-img-info>div {
    padding-left: 40px;
  }
  html[dir="rtl"] .tab-content .tab-pane .tab-img-info>div {
    padding-right: 40px;
    padding-left: 0;
  }
  #participan2Content>.tab-pane h2 {
    display: none;
  }
  .sec-right-text>.row>div+div {
    position: relative;
    margin-top: 50px;
    padding-top: 21px;
  }
  .sec-right-text>.row>div+div:after {
    border-top: 1px solid rgba(112, 112, 112, 0.5);
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
  }
  #participan2Content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #participan2Content>.tab-pane>div {
    width: 100%;
    max-width: 320px;
  }
  .tab-info-line>div>div {
    width: 33%;
  }
  #participan2Content>.tab-pane {
    padding-top: 32px;
  }
  .sec-right-slider .owl-nav {
    display: none;
  }
  .sec-right-slider>p {
    display: none;
  }
  .owl-carousel.testimonials-slider {
    margin-top: 0;
  }
  .sec-testimonials-row>.col-3>h4 {
    margin-bottom: 10px;
  }
  .owl-carousel.testimonials-slider .owl-stage-outer {
    overflow: hidden;
  }
  .testimonials-text {
    text-align: center;
  }
  .testimonials-img-left {
    margin: 0 auto;
  }
  .testimonials-slider .testimonials-img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-img-right::after {
    right: 0 !important;
    left: 0 !important;
    margin: 0 auto;
  }
  .testimonials-img-right {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 55px;
  }
  .testimonials-img-right::after {
    top: -30px;
  }
  body .testimonials-slider .owl-dots {
    display: flex;
    justify-content: center;
    background-color: #f2f4f8;
    padding-bottom: 56px;
    padding-top: 24px;
    margin-top: 0;
  }
  .testimonials-slider .owl-dots>button {
    width: 13px;
    height: 13px;
    border: 1px solid #BE955A;
    background-color: transparent;
    border-radius: 50%;
  }
  .testimonials-slider .owl-dots>button+button {
    margin-left: 15px;
  }
  html[dir="rtl"] .testimonials-slider .owl-dots>button+button {
    margin-left: 0;
    margin-right: 15px;
  }
  .testimonials-slider .owl-dots>button.active,
  .testimonials-slider .owl-dots>button:hover {
    background-color: #BE955A;
  }
  .testimonials-slider p {
    line-height: 25px;
    font-size: 18px;
  }
  .sticky-button {
    top: 175px;
  }
  .testimonials-slider .owl-item {
    padding: 50px 30px 35px;
  }
  .sec-left-right-text .sec-testimonials-row {
    padding-bottom: 75px !important;
  }
  .sec-alumni-ambassador .sec-right-icon {
    padding: 85px 0 0 0 !important;
    text-align: center;
  }
  .sec-alumni-ambassador .sec-right-icon>i,
  .sec-alumni-ambassador .sec-right-icon>svg {
    margin: 0 auto;
    top: -7px;
    left: 0 !important;
    right: 0 !important;
    font-size: 65px;
  }
  .testimonials-slider p strong,
  .sec-alumni-ambassador .sec-right-icon p strong {
    font-size: 24px;
    line-height: 35px;
  }
  .testimonials-slider p.text-small,
  .sec-alumni-ambassador .sec-right-icon p {
    font-size: 16px;
    line-height: 25px;
  }
  .sec-alumni-ambassador .sec-right-icon p.text-small {
    margin-top: 36px;
  }
  .sec-left-right-text .readmore-link a {
    font-size: 16px;
  }
  .sec-alumni-ambassador {
    padding: 37px 20px 46px 20px !important;
  }
  .sec-alumni-ambassador .readmore-link {
    margin-top: 12px;
  }
  .sec-alumni-ambassador p.line-bottom {
    margin-top: 57px;
  }
  .intake-link .readmore-link {
    margin: 0 0 !important;
  }
  .intake-link .readmore-link a,
  .intake-link .readmore-link a:hover {
    padding-right: 20px !important;
  }
  html[dir="rtl"] .intake-link .readmore-link a,
  html[dir="rtl"] .intake-link .readmore-link a:hover {
    padding-left: 20px !important;
    padding-right: 0 !important;
  }
  .tab-info-line>div {
    font-size: 14px;
    line-height: 25px;
  }
  html[dir="rtl"] .sec-right-text .sec-right-text {
    padding-right: 0;
  }
  .testimonials-slider .testimonials-slide {
    align-content: baseline;
  }
  html[dir="rtl"] .testimonials-text p,
  html[dir="rtl"] .sec-alumni-ambassador p {
    text-align: center;
  }
  .sec-sub-home-banner.sec-sub-half-bg, .sec-sub-home-banner.sec-sub-half-bg .container.position-relative {
    height: 100% !important;
    min-height: 550px;
  }
  .sec-nomobile-banner
  {
    background: #003671 !important;
  }
  .sec-sub-half-bg.sec-sub-long-bg .col-3:after
  {
    display: none;
  }
  .sec-sub-half-bg.sec-sub-long-bg .row.no-gutters
  {
    display: block;
    width: 100%;
  }
  .sec-sub-half-bg.sec-sub-long-bg .sub-text
  {
    padding-bottom: 52px;
    padding-top: 10px;
  }
  .sec-sub-half-bg.sec-sub-long-bg .sub-text,
  .sec-sub-half-bg.sec-sub-long-bg .sub-text p
  {
    color: #fff;
    background-color: transparent;
  }
  .sec-sub-half-bg.sec-sub-long-bg .sub-text p
  {
    padding: 0;
    font-size: 16px;
    line-height: 25px;
  }
  .sec-sub-half-bg .col-4.d-none.d-lg-block
  {
    display: block;
    max-width: 100%;
  }
  .sec-sub-half-bg.sec-sub-long-bg .sub-text p br + br
  {
    display: block;
  }
  .sec-sub-half-bg.sec-sub-home-banner .col-3
  {
    max-width: 100%;
    display: block;
  }
  .sec-sub-half-bg.sec-sub-home-banner .title-text
  {
    position: relative;
    transform: none;
    left: 0;
    bottom: 0;
    top: 0;
  }
  html[dir="rtl"] .sec-sub-half-bg.sec-sub-home-banner .title-text
  {
    left: auto;
    right: 0;
  }
  .sec-sub-half-bg.sec-sub-home-banner .title-text .h2
  {
    width: auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 36px !important;
    line-height: 50px !important;
  }
  .sec-sub-half-bg.sec-sub-home-banner h1::after
  {
    height: 5px;
    bottom: 8px;
  }
  .howtostudy-step ul
  {
    display: block;
  }
  .howtostudy-step ul li
  {
    width: 100%;
    max-width: 100%;
    min-width: 1px;
    min-height: 1px;
    height: auto;
    max-height: 100%;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    justify-content: flex-start;
  }
  .howtostudy-step ul li .study-step {
    width: 73px;
    height: 37px;
    font-size: 14px;
    left: 0;
    right: auto;
    color: #fff;
    bottom: auto;
    top: 0px;
  }
  html[dir="rtl"] .howtostudy-step ul li .study-step
  {
    left: auto;
    right: 0;
  }
  .howtostudy-step ul li > span
  {
    width: 100%;
    padding-left: 110px;
    text-align: left;
    color: #003671;
    background-color: transparent;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.9px;
    font-family: 'DIN-Light';
    min-height: 50px;
    max-width: 328px;
  }
  html[dir="rtl"] .howtostudy-step ul li > span
  {
    text-align: right;
    padding-right: 110px;
    padding-left: 0;
  }
  .howtostudy-step ul li + li
  {
    margin-top: 23px;
  }
  .sec-howtostudy .row > .col-12:first-child{
    display: none;
  }
  .sec-howtostudy
  {
    background-color: #F2F4F8;
  }
  .howtostudy-step ul li + li:after {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(112, 112, 112, 0.5);
    z-index: 1;
    top: -12px;
  }
  html[dir="rtl"] .howtostudy-step ul li + li:after
  {
    right: 0;
  }
  .sec-accordion-text .accordion-body,
  html[dir="rtl"] .sec-accordion-text .accordion-body
  {
    padding: 24px 0px 24px 0px;
  }
  .accordion
  {
    margin-top: 27px;
  }
  .sec-admissions-lr-text 
  {
    margin-bottom: 0 !important;
  }
  .sec-sub-home-banner.mobile-full-banner
  {
    height: 100vh !important;
  }
  .sec-sub-home-banner.mobile-full-banner .col-3
  {
    max-width: 40%;
  }
  .sec-sub-home-banner.mobile-full-banner .col-3:after
  {
    display: block;
    right: -500vw;
    width: 1000vw;
  }
  .sec-sub-half-bg.mobile-full-banner .row.no-gutters
  {
    display: flex;
  }
  .sec-sub-half-bg.mobile-full-banner .title-text
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .sec-ambassadors-row h4
  {
    text-align: center;
  }
  .sec-ambassadors-row
  {
    padding-top: 18px;
  }
  .sec-ambassadors-row .sec-right-text>.row>div
  {
    margin-top: 42px;
  }
  .sec-ambassadors-row .sec-right-text>.row>div+div
  {
    margin-top: 7px;
  }
  .sec-ambassadors-row .sec-right-text>.row>div+div:after
  {
    display: none;
  }
  .sec-ambassadorprogram-row .accordion-text.mb-5
  {
    margin-bottom: 15px !important;
  }
  .sec-left-right-text .container>.row.sec-factsfigures-row
  {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .sec-left-right-text .container>.row.sec-factsfigures-row h4
  {
    text-align: center;
  } 
  body .sec-factsfigures-row .figures-block h2.h1
  {
    font-size: 42px !important;
    line-height: 75px !important;
    margin-bottom: -10px;
  }
  body .sec-factsfigures-row .figures-block:nth-child(n+2), 
  body .sec-factsfigures-row .figures-block:nth-child(n+4)
  {
    margin-top: 10px;
  }
  .sec-sub-half-bg.mobile-full-banner .title-text .h2
  {
    font-size: 24px !important;
    line-height: 35px !important;
  }
  .sec-sub-half-bg.mobile-full-banner .title-text
  {
    top: auto;
  }
  .sec-sub-half-bg.mobile-full-banner h1::after
  {
    bottom: 0;
  }
  .sec-left-right-text iframe {
    min-height: 50vw;
  }
  html[dir="rtl"] .figures-block {
    border-left: 0;
    border-right: 0;
  }
  .sec-left-right-text .sec-ambassadors-row h4 br {
    display: block;
  }
  .sec-news-banner .banner-content-left p
  {
    font-size: 24px;
    line-height: 25px;
    font-family: 'DIN-Bold', sans-serif;
    margin-bottom: 0;
  }
  .sec-news-banner .banner-content-left {
    padding-bottom: 50px;
  }
  .sec-news-banner .link-white {
      margin-top: 24px;
  }
  .sec-events-lr-text .add-to-calendar
  {
    display: inline-block;
    margin-top: 18px;
  }
  .sec-events-lr-text .events-text
  {
    padding-bottom: 25px;
  }
  .post-nav a
  {
    font-size: 0;
    line-height: normal;
  }
  .post-nav a svg
  {
    font-size: 26px;
  }
  .filterlink
  {
    display: block;
    width: 100%;
  }
  .whh-img {
    min-height: 310px;
    max-height: 310px;
  }
  .filterlink .dropdown-menu
  {
    min-width:160px !important;
    max-width: 100% !important;
  }
  .page-not-found .block-system-main-block
  {
    height: calc(100vh - 578px);
    min-height: 320px;
    font-size: 1.8em;
    padding-top: 0;
  }
  .events-text .line-bottom::after {
    border-width: 1px;
    bottom: -3px;
  }
  .owl-carousel.top-banner-slider > div .owl-stage .top-slide
  {
    background-position: center, top;
    background-size: 0,cover;
  } 
}

@media (max-width: 575px) {
  .whh-img {
    min-height: 55vw;
    max-height: 55vw;
  } 
  .sec-happening .col-12.d-flex .whh-text {
    padding: 36px 25px;
    height: auto;
  }
  .sec-happening p {
    margin-bottom: 44px;
  }
  .site-footer .row.top-row>div {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-top: 25px !important;
    justify-content: center !important;
  }
  footer h6 {
    margin-bottom: 10px;
  }
  .footer-bottom {
    display: block !important;
  }
  .copyright-text,
  .backtotop {
    width: 100%;
  }
  .backtotop {
    margin-left: 0;
    max-width: 126px;
    margin-top: 15px;
  }
  .footer-bottom {
    padding-top: 10px;
  }
  .navbar-dark .navbar-nav .nav-link,
  .dropdown-item, 
  .dropdown-item span {
    font-size: 13px;
  }
  .container,
  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar-toggler {
    padding: 19px;
  }
  .sec-sub-home-banner .banner-content {
    left: 15px !important;
  }
  html[dir="rtl"] .sec-sub-home-banner .banner-content {
    left: auto !important;
    right: 15px !important;
  }
  .sec-sub-home-banner .row.no-gutters {
    padding: 0 25px;
  }
  .sec-sub-home-banner .row.no-gutters>.col-3 {
    max-width: 197px;
    flex: 0 0 197px;
  }
  .sticky-button {
    width: 65px;
  }
  .sticky-button a {
    font-size: 10px;
  }
  body .margin-zero-mobile {
    position: relative;
    padding: 0;
    -ms-flex: 0 0 calc(100% + 20px) !important;
    flex: 0 0 calc(100% + 20px) !important;
    max-width: calc(100% + 20px) !important;
    margin-left: -10px;
  }
  html[dir="rtl"] body .margin-zero-mobile {
    margin-left: 0;
    margin-right: -10px;
  }
  body .intake-table {
    margin: 0 -25px;
  }
  .sec-right-text table tr>th,
  .sec-right-text table tr>td {
    padding-right: 15px;
  }
  .sec-right-text table tr:not(:first-child) td {
    padding: 15px 15px 15px 28px;
  }
  html[dir="rtl"] .sec-right-text table tr:not(:first-child) td {
    padding: 15px 28px 15px 15px;
  }
  body .sec-home-banner.sec-news-banner .banner-content-left
  {
    left: 15px;
    right: 15px;
  }
  .user-login-form {
    max-width: 90%;
  }
}
@media (max-width: 480px)
{
  .whh-img {
    min-height: 54vw;
    max-height: 54vw;
  } 
}
@media (max-width: 400px)
{
  .whh-img {
    min-height: 53vw;
    max-height: 53vw;
  } 
}
@media (max-width: 360px) {
  .tab-info-line>div>div {
    width: 25%;
  }
  .sec-left-right-text .readmore-link a {
    font-size: 12px;
  }
  .whh-img {
    min-height: 52.5vw;
    max-height: 52.5vw;
  } 
}